.home-banner {
    // background: #e1f9ff;
    position: relative;
    overflow: hidden;
    height: 40vh;
    z-index: 1;
    // margin-top: 65px;
    // @include pageBanner(120vh);
    // @include fullBG(cover);
    @include flexCenterAll;

    @media (min-width: $tablet) {
        height: 60vh;
        justify-content: flex-start;
        padding: 0 12rem;
        // max-width: 75vw;
        // margin: 0 auto;
    }
}

// .home-banner_container {
//     @media (min-width: 768px) {
//         max-width: 75vw;
//         margin: 0 auto;
//     }
// }

.home-banner__content {
    @include whiteTextBlackShadow;
}

.home-banner__image {
    position: absolute;
    top: 55%;
    will-change: transform;
    transform: translateY(-50%);
    z-index: -1;

    @media (min-width: $tablet) {
        width: 65rem;
        position: absolute;
        top: 55%;
        will-change: transform;
        transform: translateY(-50%);
        right: -5rem;
    }
}

.home-intro {
    font-size: 1.5rem;
    padding: 2rem;
}

.homepage-events {
    margin-top: 6rem;
}

.homepage-events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    margin: 2rem 0;

    &>.list__item {
        margin: 0;
    }
}
