.signin,
.signup {
    padding: 0 0.5em;
    margin-bottom: 2rem;
}

.signin__social {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.signin__social-btn {
    color: $white;
    width: 48%;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
}

.signin__social-btn--google {
    background: $google;
}

.signin__social-btn--facebook {
    background: $facebook;
}

.accounts-container {
    margin: 0 auto;
    width: 1200px;
    margin-top: 4rem;
}

.accounts-container>section,
.accounts-container>div {
    width: 45%;
}
