.single-event {
    max-width: 1120px;
    margin: 2rem auto;
}

// .single-event__banner {
//     height: 25rem;
// }

.single-event__container {
    @media(min-width: $tablet) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        grid-gap: 1rem;
    }
}

.single-event__title {
    padding: 0 0.5em;
    font-size: 1.5rem;
    text-align: center;

    @media(min-width: $tablet) {
        font-size: 2rem;
    }
}

.single-event__infobar {
    margin: 1rem 0;
    @include boxShadow($silver);
    padding: 1em 0.5em;
    @include curveAllCorners;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 2em;
    justify-content: center;
    align-items: center;
    background: $white;

    @media(min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        width: 25%;
        margin: 0;
    }
}

.single-event__infobar span,
.single-event__infobar span a {
    display: flex;
    text-align: center;
}

.single-event__content {
    // margin: 0;

    @media(min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        width: 75%;
    }
}

.single-event__description,
.single-event__video,
.single-event__image {
    padding: 0.5em;
    margin: 0 0 1em;
    background-color: $white;
    @include boxShadow($silver);
    @include curveAllCorners;

    @media(min-width: $tablet) {
        // width: 75%;
        // margin: 0.5em;
    }
}

// .single-event__description {
//     margin: 0.5em 0;
// }

.single-event__embed {
    width: 100%;
    min-height: 18em;

    @media(min-width: $tablet) {
        min-height: 30em;
    }
}

.single-event__image {
    @media(min-width: $tablet) {
        display: block;
        text-align: center;
    }
}

// .single-event__moreinfo {
//     @extend .single-event__infobar;
//     margin: 1em 0;
// }
