.account-menu {
    list-style-type: none;
    padding-left: 0;
}

.account-menu__item {
    display: block;
    padding: 1em 0;
    margin: 1em 0;
    @include lightBorder;
    text-align: center;
    text-transform: capitalize;
}

.auth-banner {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    height: 12rem;

    @media (min-width: $phone) {
        height: 25rem;
    }
}

.panel--auth {
    & form {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    @media (max-width: $tablet) {
        padding: 1rem;
    }

    @media (min-width: $tablet) {
        &>section {
            width: 48%;
        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
