{% extends "base.html" %}

{% block meta_title %}Account Management | Frum Philly{% endblock meta_title %}
{% block meta_description %}Manage the email addresses associated with your account.{% endblock meta_description %}

{% block main %}


<div class="container container-height--100 flex flex--column flex--center">
    <section class="panel">
        <section class="panel__content">
            <h1 class="panel__title">E-mail Addresses</h1>
        
            {% if user.emailaddress_set.all %}
                <p class="panel__text">The following e-mail addresses are associated with your account:</p>

                <form action="{% url 'account_email' %}" class="email_list" method="post">
                    {% csrf_token %}
                    <fieldset class="blockLabels">

                        {% for emailaddress in user.emailaddress_set.all %}
                        <div class="">
                            <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                                <input id="email_radio_{{forloop.counter}}" type="radio" name="email"
                                    {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {%endif %}
                                    value="{{emailaddress.email}}" />

                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                <span class="tag">Verified</span>
                                {% else %}
                                <span class="tag">Unverified</span>
                                {% endif %}
                                {% if emailaddress.primary %}<span class="tag">Primary</span>{% endif %}
                            </label>
                        </div>
                        {% endfor %}

                        <div class="buttonHolder">
                            <button class="secondaryAction" type="submit" name="action_primary">Make Primary</button>
                            <button class="secondaryAction" type="submit" name="action_send">Re-send Verification</button>
                            <button class="primaryAction" type="submit" name="action_remove">Remove</button>
                        </div>

                    </fieldset>
                </form>

                {% else %}
                <p><strong>Warning:</strong>
                    You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.
                </p>

            {% endif %}
        </section>
        <section class="panel__content">
            <h2 class="panel__title">Add E-mail Address</h2>

            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}
                <div class="form-field">
                    <label class="form-field__label" for="{{form.email.name}}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <button name="action_add" type="submit">Add E-mail</button>
            </form>
        </section>
    </section>
</div>




{% endblock main %}


{% block template_js %}
<script type="text/javascript">
    (function () {
        var message = "Do you really want to remove the selected e-mail address?";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function (e) {
                if (!confirm(message)) {
                    e.preventDefault();
                }
            });
        }
    })();
</script>
{% endblock template_js %}
