{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load socialaccount %}

{% block meta_title %}{{meta_title}}{% endblock meta_title %}
{% block meta_description %}{{meta_description}}{% endblock meta_description %}

{% block main %}
<section class="page-banner"
    style="background-image: url({% webpack_static 'img/illustrations/authentication.svg' %});height:45vw;">
    <h2 class="">Sign In</h2>
</section>
<section class="signin">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-field">
            <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
            {{ field }}

            {% if field.name in helptext_fields %}
            <div class="form-field__help-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit">Sign In</button>
    </form>
    {% include 'components/social-signin.html' %}
</section>
{% endblock main %}