{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load socialaccount %}

{% block meta_title %}{{meta_title}}{% endblock meta_title %}
{% block meta_description %}{{meta_description}}{% endblock meta_description %}

{% block main %}
<section class="page-banner"
    style="background-image: url({% webpack_static 'img/illustrations/authentication.svg' %});height:45vw;">
    <h2 class="title">Sign In</h2>
</section>

<section class="signup">
<h2 class="title-bar"><span class="title-bar__text">Sign in with Google or Facebook</span></h2>
{% include 'components/social-signin.html' %}
</section>

<section class="signin">
    <h2 class="title-bar"><span class="title-bar__text">Sign in with Email</span></h2>
    {% include 'components/errors.html' %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != "remember" %}
                <div class="form-field">
                    <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.name in helptext_fields %}
                    <div class="form-field__help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div class="flex_center_spaced">
            <span class="form-field--remember"><label for="{{form.remember.id_for_label }}">{{form.remember.label}}</label>{{form.remember}}</span>
            <button class="btn btn--lg" type="submit">Sign In</button>
        </div>
    </form>
</section>
{% endblock main %}
