{% extends "account/base.html" %}

{% load account %}

{% block meta_title %}Password Reset | Frum Philly{% endblock meta_title %}
{% block meta_description %}Password Reset{% endblock meta_description %}

{% block main %}

    <div class="container h-cust-screen flex flex-col justify-center items-center max-w-4xl">
        <section class="bg-white rounded-md shadow-md mb-10 p-4 w-full">
            <h1 class="text-3xl">Password Reset</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="">We have sent you an e-mail. Please <a href="{% url 'contact' %}" class="underline hover:text-pink-400">contact us</a> if you do not receive it within a few minutes.</p>
        </section>
    </div>

{% endblock %}
