{% extends "dashboard.html" %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Update Password | Frum Philly{% endblock meta_title %}
{% block meta_description %}Update your accounts password.{% endblock meta_description %}

{% block main %}
<div class="container container-height--100 flex flex--column flex--center">
    <div class="panel panel--auth">
        <section class="auth-banner" style="background-image: url({% webpack_static 'img/illustrations/settings.svg' %});">
            <h1 class="title text-center">Change Password.</h1>
        </section>
        <section>
            <form class="form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-field">
                    <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.name in helptext_fields %}
                    <div class="form-field__help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                {% include 'components/submit_btn.html' with value='Change Password' class="btn btn--block btn--form-submit" %}
            </form>
        </section>
    </div>
</div>
{% endblock main %}
