{% extends "dashboard.html" %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Update Password | Frum Philly{% endblock meta_title %}
{% block meta_description %}Update your accounts password.{% endblock meta_description %}

{% block main %}
<div class="container mx-auto my-10">
    <section>
        <h1 class="text-white text-shadow text-4xl mb-4">Change Password</h1>
        <form class="form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-field">
                <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
                {{ field }}

                {% if field.name in helptext_fields %}
                <div class="form-field__help-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
            {% endfor %}
            {% include 'components/submit_btn.html' with value='Save Password' class="btn btn-md btn-block btn--form-submit" %}
        </form>
    </section>
</div>
{% endblock main %}
