{% extends "dashboard.html" %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Update Password | Frum Philly{% endblock meta_title %}
{% block meta_description %}Update your accounts password.{% endblock meta_description %}

{% block main %}

    <section class="bg-purple-900 admin-table-header">
        <div class="py-2 mx-4 flex items-center justify-between flex-col md:flex-row text-white">
            <div>
                <h2 class="text-4xl text-white text-shadow my-4 capitalize">Change Password</h2>
            </div>
        </div>
    </section>

    <section class="container mx-auto my-10">

        {% include 'components/errors.html' %}

        <form class="form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-field">
                <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
                {{ field }}

                {% if field.name in helptext_fields %}
                <div class="form-field__help-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <p class="mb-4 text-xl text-center">If you forgot your password you can request to <a href="{% url "account_reset_password" %}" class="underline hover:text-pink-400">reset it here.</a></p>
            {% include 'components/submit_btn.html' with value='Save Password' class="btn btn-md btn-block btn--form-submit" %}
        </form>
    </section>

{% endblock main %}
