{% extends "account/base.html" %}

{% load account %}

{% block meta_title %}Password Reset | Frum Philly{% endblock meta_title %}
{% block meta_description %}Password Reset{% endblock meta_description %}

{% block main %}

    <div class="container container-height--100 flex flex--column flex--center">
        <section class="panel">
            <section class="panel__content">
                <h1 class="panel__title">Password Reset</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="panel__text">We have sent you an e-mail. Please <a href="{% url 'contact' %}">contact us</a> if you do not receive it within a few minutes.</p>
            </section>
        </section>
    </div>

{% endblock %}
