{% extends "base.html" %}

{% block meta_title %}Change Password | Frum Philly{% endblock meta_title %}
{% block meta_description %}Change Password to Frum Philly{% endblock meta_description %}

{% block main %}
    <div class="container flex flex-col items-center justify-center max-w-4xl">
        <section class="w-full p-4 mb-10 text-center bg-white rounded-md shadow-md">
            <h1 class="text-2xl">Your password has been updated successfully.</h1>
            <p class="text-xl">You can sign in <a href="{% url 'account_login' %}" class="underline hover:text-pink-400">here</a>.</p>
        </section>
    </div>
{% endblock %}
