{% extends "base.html" %}
{% load account %}

{% block meta_title %}Password Reset | Frum Philly{% endblock meta_title %}
{% block meta_description %}Password Reset{% endblock meta_description %}

{% block main %}

<div class="container container-height--100 flex flex--column flex--center">
    <section class="panel">
        <section class="panel__content">
            <h1 class="panel__title">Password Reset</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="panel__text">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-field">
                    <label class="form-field__label" for="{{form.email.name}}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <input type="submit" value="Reset My Password" />
            </form>

            <p class="panel__text">Please <a href="{% url 'contact' %}">contact us</a> if you have any trouble resetting your password.</p>
        </section>
    </section>
</div>


{% endblock main %}
