{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}{{meta_title}}{% endblock meta_title %}
{% block meta_description %}{{meta_description}}{% endblock meta_description %}

{% block main %}
<section class="page-banner" style="background-image: url({% webpack_static 'img/illustrations/signup.svg' %});">
    <h2 class="title">Create Account</h2>
</section>

<section class="signup">
<h2 class="title-bar"><span class="title-bar__text">Sign up with Google or Facebook</span></h2>
{% include 'components/social-signin.html' %}
</section>

<section class="signup">
    <h2 class="title-bar"><span class="title-bar__text">Sign up with Email</span></h2>
    {% include 'components/errors.html' %}

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
            {{ field }}

            {% if field.name in helptext_fields %}
            <div class="form-field__help-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn--block" type="submit">Sign Up</button>
    </form>
</section>
{% endblock main %}
