{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Create Account | Frum Philly{% endblock meta_title %}
{% block meta_description %}Create an account on Frum Philly{% endblock meta_description %}

{% block main %}
<section class="h-cust-screen flex relative lg:container">

    <section class="relative w-1/2 h-full bg-center bg-top hidden md:block" style="background-image: url({% webpack_static 'img/images/philly-skyline.jpg' %})">
        <div class="absolute top-0 left-0 w-full h-full bg-purple-600 bg-opacity-25"></div>
    </section>

    <section class="w-full md:w-1/2 h-full bg-white px-10  flex flex-col justify-center">
        <h1 class="text-3xl text-gray-600 font-semibold pt-4 px-4">Create your account!</h1>

        <div class="lg:my-6 lg:mx-3">
            {% include 'components/social-signin.html' %}
        </div>

        <div class="lg:ml-6">
            <h2 class="relative flex items-center justify-center max-w-md mx-auto my-12 text-base font-semibold text-center text-gray-600 border-t-2 border-gray-800 sm:text-lg">
                <span class="absolute text-lg font-semibold bg-white -top-4">Or Sign up with Email</span>
            </h2>
            {% include 'components/errors.html' %}

            <form method="post" id="signup-form" class="p-0 form" novalidate>
                {% csrf_token %}
                <div class="m-0 form-field">
                    <label class="form-field__label" for="{{field.id_for_label}}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>

                <div class="m-0 my-4 form-field">
                    <label class="form-field__label" for="{{field.id_for_label}}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>

                <div class="m-0 my-4 form-field">
                    <label class="form-field__label" for="{{field.id_for_label}}">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                </div>

                <div class="m-0 my-4 form-field">
                    <label class="form-field__label" for="{{field.id_for_label}}">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                </div>

                {% include 'components/submit_btn.html' with value='Sign Up' class="btn btn-lg btn--form-submit btn-block" %}

                <p class="mt-6 text-sm font-bold text-center text-gray-700 underline"><a href="{% url 'account_login' %}">I already have an account!</a></p>
            </form>
        </div>
        </section>
</section>
{% endblock main %}

{% block template_js %}
<script>
    document.getElementById("id_email").focus();
</script>
{% endblock template_js %}
