{% extends "base.html" %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Verify Your E-mail Address | Frum Philly{% endblock meta_title %}
{% block meta_description %}An email has been sent to verify your email address.{% endblock meta_description %}

{% block main %}

<div class="container my-6 mx-auto flex flex-col justify-center items-center max-w-4xl lg: lg:my-0"">
    <section class="panel">
        <section class="bg-white rounded-md shadow-md mb-10 p-4 w-full">
            <h1 class="text-2xl  text-center">Verify Your E-mail Address</h1>
            <p class="text-xl">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please make sure to check your spam folder and <a class="text-indigo-600 underline" href="{% url 'contact' %}">contact us</a> if you do not receive it within a few minutes.</p>
        </section>
    </section>
</div>

{% endblock %}
