{% extends "base.html" %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Verify Your E-mail Address | Frum Philly{% endblock meta_title %}
{% block meta_description %}An email has been sent to verify your email address.{% endblock meta_description %}

{% block main %}

<div class="container container-height--100 flex flex--column flex--center">
    <section class="panel">
        <section class="panel__banner flex flex--center flex--align-center" style="background-image: url({% webpack_static 'img/illustrations/mobile_inbox.svg' %});">
            <h1 class="title panel__title">Verify Your E-mail Address</h1>
        </section>
        <section class="panel__content">
            <p class="panel__text text-center">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
        </section>
    </section>
</div>

{% endblock %}
