<div x-data="{ open: false }" class="relative w-full contact-status-chip">
    <div @click="open = true" class="flex rounded-full py-1 font-semibold text-green-900 cursor-pointer">
        <span class="relative flex items-center justify-center inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
            {% if contact.status == 'unread' %}<span aria-hidden class="absolute inset-0 bg-orange-200 rounded-full"></span>{% endif %}
            {% if contact.status == 'read' %}<span aria-hidden class="absolute inset-0 bg-green-600 rounded-full"></span>{% endif %}
            {% if contact.status == 'spam' %}<span aria-hidden class="absolute inset-0 bg-red-600 rounded-full"></span>{% endif %}
            <span class="relative">{{ contact.get_status_display }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="z-index:1" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none"/><path d="m6 9 6 6 6-6H6"/>
            </svg>
        </span>
    </div>
    <div x-show="open" x-cloak @click.away="open = !open" class="absolute top-8 left-0 bg-white z-10 rounded-md shadow-md p-2">
        <button
                hx-post="{% url 'contact_toggle_status' %}?message_id={{ contact.id }}&message_status=unread"
                hx-swap="outerHTML"
                hx-target="#contact-row-{{ contact.id }} .contact-status-chip"
                hx-indicator=".loading"
                @click="open = true" class="flex w-full bg-orange-200 hover:bg-orange-100 rounded-full justify-center py-1 px-2 font-semibold text-green-900 capitalize">mark unread</button>
        <button
                hx-post="{% url 'contact_toggle_status' %}?message_id={{ contact.id }}&message_status=read"
                hx-swap="outerHTML"
                hx-target="#contact-row-{{ contact.id }} .contact-status-chip"
                hx-indicator=".loading"
                @click="open = true" class="flex w-full bg-green-600 hover:bg-green-500 rounded-full justify-center py-1 px-2 font-semibold text-green-900 capitalize mt-1">mark read</button>
        <button
                hx-post="{% url 'contact_toggle_status' %}?message_id={{ contact.id }}&message_status=spam"
                hx-swap="outerHTML"
                hx-target="#contact-row-{{ contact.id }} .contact-status-chip"
                hx-indicator=".loading"
                @click="open = true" class="flex w-full bg-red-600 hover:bg-red-500 rounded-full justify-center py-1 px-2 font-semibold text-green-900 capitalize mt-1">mark spam</button>
    </div>
</div>