{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Advertising Terms & Conditions | Frum Philly{% endblock meta_title %}
{% block meta_description %}The Frum Philly Advertising Terms & Conditions.{% endblock meta_description %}

{% block main %}
<div class="container my-5 space-x-4 md:flex">
    <section id="left" class="p-6 bg-white rounded-md shadow-md md:w-3/4">
        <section class="">
            <h1 class="mb-8 text-6xl font-bold">Advertising Terms & Conditions</h1>
            <h1>Terms & Condition for advertising on Frum Philly</h1>

            <p class="mt-6">At Frum Philly, accessible from https://frumphilly.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Frum Philly and how we use it.</p>
        </section>
    </section>

    {% include 'components/sidebar_ads.html' %}
</div>
{% endblock %}
