{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load socialaccount %}

{% block meta_title %}{{meta_title}}{% endblock meta_title %}
{% block meta_description %}{{meta_description}}{% endblock meta_description %}

{% block main %}
<section id="home_banner" style="background-image:url({% webpack_static 'img/philadelphia.svg' %})">
    <div id="home_banner__content">
        <h1 class="title">frum philly</h1>
        <h2 class="subtitle">Go beyond your "daled amos"</h2>
    </div>
</section>
{% endblock main %}