{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load socialaccount %}
{% load humanize %}

{% block meta_title %}{{page_meta.meta_title}}{% endblock meta_title %}
{% block meta_description %}{{page_meta.meta_description}}{% endblock meta_description %}

{% block main %}
<section id="home_banner" style="background-image:url({% webpack_static 'img/philadelphia.svg' %})">
    <div id="home_banner__content">
        <h1 class="title">{{page_data.banner_title}}</h1>
        <h2 class="subtitle">{{page_data.banner_subtitle}}</h2>
    </div>
</section>

<section>

    {% if events_in_future %}
    <h2 class="title section-title">upcoming events</h2>
    {% else %}
    <h2 class="title section-title">our events</h2>
    {% endif %}

    <div class="list">
        {% for event in upcoming_events %}
        <div class="list__item">
            <h2 class="list__title">{{event.name}}</h2>
            <p class="list__date">{{event.start_date|naturalday}}</p>
            <a href="{{ event.get_absolute_url }}" class="list__link">See more</a>
        </div>
        {% empty %}
        <p>no upcoming events!</p>
        {% endfor %}
    </div>
</section>
{% endblock main %}