@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


@mixin fullBG {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin flexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin curveAllCorners {
    border-radius: 6px;
}

@mixin backgroundGradient {
    background: linear-gradient(190deg, rgb(94, 231, 223), rgb(180, 144, 202));
}

@mixin textGradient {
    background: -webkit-linear-gradient(rgb(94, 231, 223), rgb(180, 144, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin whiteTextBlackShadow {
    color: $white;
    text-shadow: 2px 2px 3px $black;
}

@mixin boxShadow {
    box-shadow: 0 4px 6px 0 $silver;
}

@mixin lightBorder {
    border: 1px solid $border-grey;
}