@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


@mixin fullBG($backgroundSize) {
    background-size: $backgroundSize;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin bgRight($backgroundSize) {
    background-size: $backgroundSize;
    background-position: right
}

@mixin pageBanner($height) {
    height: $height;
    // max-height: 30em;
}

@mixin flexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    flex-direction: column;
}

@mixin flexCenterVertical {
    display: flex;
    align-items: center;
}

@mixin curveAllCorners {
    border-radius: 4px;
}

@mixin curveBottomCorners {
    border-radius: 0 0 4px 4px;
}

@mixin curveTopCorners {
    border-radius: 4px 4px 0 0;
}

@mixin backgroundGradient {
    background: linear-gradient(190deg, rgb(94, 231, 223), rgb(180, 144, 202));
}

@mixin textGradient {
    background: -webkit-linear-gradient(rgb(94, 231, 223), rgb(180, 144, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin whiteTextBlackShadow {
    color: $white;
    text-shadow: 2px 2px 3px $black;
}

@mixin boxShadow($color) {
    // box-shadow: 0 4px 6px 0 $color;
    box-shadow: 0 3px 15px $color;
}

@mixin bottomBoxShadow($color) {
    box-shadow: 0 3px 6px -2px $color;
}


@mixin lightBorder {
    border: 1px solid $border-grey;
}
