@mixin fullBG {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin flexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}