$purple: rgba(104, 64, 114, 1);
$red: rgba(216, 66, 61, 1);
$success: rgba(27, 163, 156, 1);
$error: rgba(207, 0, 15, 1);
$mid-grey: rgba(210, 215, 211, 1);
$border-grey: #c3c3c3;
$link-color: rgba(103, 65, 114, 1);
$white: #fff;
$black: #000;
$silver: rgba(191, 191, 191, 1);