{% for field in form %}

{% if field.name in check_fields %}
{{continue}}
{% elif field.name == 'categories' %}
{{continue}}
{% elif field.name == 'cover_image' %}
<div class="form-field">
    <label class="form-field__label" for="{{field.name}}">{{ field.label }}</label>
    <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}" accept="image/png,image/jpg,image/jpeg">
    {% if listing.cover_image %}
    <button type="button" @click="showCoverImageModal = true" class="ml-4 absolute top-0 right-0 overflow-hidden" style="max-height: 5.7rem;">
        <p class="text-xs mt-3 mr-2" id="listing_cover_image_preview_title">Current Image</p>
        <img id="listing_cover_image_preview" class="mt-2 mr-2 mx-auto object-cover" src="{{ listing.cover_image.url }}" alt="Current image for this listing" width="80" height="40">
    </button>
    <div class="form-field__help-text">
        <button id="listing_cover_image_preview_link" type="button" @click="showCoverImageModal = true">View
            Current Cover Image</button>
    </div>
    {% endif %}
</div>
{% elif field.name == 'location' %}
<div class="form-field">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }}</label>
    <div id="geocoder" class="geocoder flex"></div>
</div>
{% elif field.name == 'description' %}
<div class="form-field form-field--description">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }}</label>
    {{ form.description }}
    <trix-editor input="{{form.description.auto_id}}"></trix-editor>
</div>
<div class="form-field__help-text">{{ field.help_text }}</div>
{% elif field.name == 'status' %}
<div class="form-field--alt">

    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }} {% if field.field.required %}<span class="form-field__label--required">(required)</span>{% endif %}</label>
    {{ field }}
    <div class="form-field__help-text mt-4">{{ field.help_text }}</div>
</div>
{% else %}
<div class="form-field">

    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }} {% if field.field.required %}<span class="form-field__label--required">(required)</span>{% endif %}</label>
    {{ field }}
    <div class="form-field__help-text">{{ field.help_text }}</div>

</div>
{% endif %}

{% endfor %}

{% comment %} Features Checkboxes {% endcomment %}
<div class="my-4 relative w-full mb-10 bg-transparent-red rounded-md px-2 pb-5 border-silver border-2">

    <label class="top-0 block font-bold my-2">Business Features</label>
    <div class="flex items-center">
        {{ form.accept_cc }}
        <label class="ml-2" for="{{form.accept_cc.id_for_label }}">{{ form.accept_cc.label }}</label>

        {% if form.accept_cc.name in helptext_fields %}
        <div class="form-field__help-text">{{ field.help_text }}</div>
        {% endif %}
    </div>
    <div class="flex items-center">
        {{ form.delivers }}
        <label class="ml-2" for="{{form.delivers.id_for_label }}">{{ form.delivers.label }}</label>

        {% if form.delivers.name in helptext_fields %}
        <div class="form-field__help-text">{{ field.help_text }}</div>
        {% endif %}
    </div>
    <div class="flex items-center">
        {{ form.wheelchair_access }}
        <label class="ml-2" for="{{form.wheelchair_access.id_for_label }}">{{ form.wheelchair_access.label }}</label>

        {% if form.wheelchair_access.name in helptext_fields %}
        <div class="form-field__help-text">{{ field.help_text }}</div>
        {% endif %}
    </div>

</div>

{% comment %} categories {% endcomment %}

<div class="my-4 relative w-full mb-10 bg-transparent-red rounded-md px-2 border-silver border-2">
    <label class="top-0 block font-bold my-2" for="{{form.categories.id_for_label }}">{{ form.categories.label }} {% if form.categories.field.required %}<span class="">(required)</span>{% endif %}
        {% comment %} <p><small>Please select at least one category:</small></p> {% endcomment %}
        {% if form.categories.errors %}
        <p class="error"><small>Please select at least one category:</small></p>
        {% else %}
        <p><small>Please select at least one category:</small></p>
        {% endif %}
    </label>
    <div class="check_field">
        {{ form.categories }}

        {% if form.categories.name in helptext_fields %}
        <div class="form-field__help-text">{{ form.categories.help_text }}</div>
        {% endif %}
    </div>
</div>
