{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block pagebanner %}
<section class="h-half-screen curved-bottom flex justify-center items-center" style="background-image: url({% webpack_static 'img/illustrations/form.svg' %});background-size: 30rem;background-repeat:no-repeat;background-position:center;">
    <h1 class="text-6xl text-white font-bold text-shadow">Create Listing</h1>
</section>
{% endblock pagebanner %}


{% block main %}

<section class="container max-w-3xl mb-10">

    {% include 'components/errors.html' %}
    <form class="form" action="{% url 'listings_create' None %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% include 'listings/_form.html' %}
        {% include 'components/submit_btn.html' with value='Create Listing' class="btn btn-block btn-lg btn--form-submit" %}
    </form>

</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVHtWZFQ4D4WQ2ie8Fe8FaW7_VHlfQPuk&libraries=places&region=US&types=(regions)"></script>
{% endblock main %}

{% block template_js %}
<script>
    document.getElementById("id_business_name").focus();
    document.getElementById("id_phone").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_whatsapp").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_mobile").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_fax").addEventListener("input", (e) => formatPhone(e));
</script>
{% endblock template_js %}
