{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block template_css %}
<link href="{% webpack_static 'libs/trix.css' %}" rel="stylesheet">
<style>
    .trix-button-group--file-tools {
        display: none !important;
    }
</style>
{% endblock template_css %}

{% block template_scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
{% endblock template_scripts %}


{% block main %}
<section class="my-5">
    <div class="my-4">
        <h2 class="mb-2 text-3xl text-center text-white md:text-4xl md:text-left text-shadow">Create {{category_group.title|capfirst}} Listing</h2>
        <p class="text-base">Not all fields are required but the more information you provide the better you listing will look.</p>
    </div>
    {% include 'components/errors.html' %}
    <div>
        <form class="form" action="{% url 'listings_create' category_group.slug %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include 'listings/_form.html' %}
            {% include 'components/submit_btn.html' with value='Create Listing' class="mt-4 btn btn-block btn-lg btn--form-submit" %}
        </form>
    </div>
</section>
{% endblock main %}

{% block template_js %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<script>
	mapboxgl.accessToken = "{{mapbox}}";
    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        types: 'address,postcode',
        countries: 'us',
    }); 
    geocoder.addTo('#geocoder');
    const geocoder_input = document.querySelector("#geocoder").querySelector("input");
    geocoder_input.value = "{{request.POST.location}}"
    geocoder_input.setAttribute("id", "id_location");
    geocoder_input.setAttribute("name", "location");
    geocoder.on("result", (e) => {
        let neighborhood_field = document.getElementById("id_neighborhood");
        let city = document.getElementById("id_city");
        let state = document.getElementById("id_state");
        let zipcode = document.getElementById("id_zipcode");
        let location_type = document.getElementById("id_location_type");

        neighborhood = e.result.context.filter(item => item.id.includes("neighborhood"));
        neighborhood_field.value = neighborhood.length == 0 ? "" : neighborhood[0].text;

        locality = e.result.context.filter(item => item.id.includes("locality"));
        place = e.result.context.filter(item => item.id.includes("place"));
        city.value = locality.length == 0 ? place[0].text : locality[0].text;

        state.value = e.result.context.filter(item => item.id.includes("region"))[0].text;
        zipcode.value = e.result.context.filter(item => item.id.includes("postcode"))[0].text;
        location_type.value = e.result.place_type[0];
    });
    document.getElementById("id_business_name").focus();
    document.getElementById("id_phone").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_whatsapp").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_mobile").addEventListener("input", (e) => formatPhone(e));
</script>
<script src="{% webpack_static 'libs/trix.js' %}"></script>
{% endblock template_js %}
