{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block template_css %}
<link href="{% webpack_static 'libs/trix.css' %}" rel="stylesheet">
<style>
    .trix-button-group--file-tools {
        display: none !important;
    }
</style>
{% endblock template_css %}


{% block main %}

<section class="my-10" x-data="{ 'showCoverImageModal': false }" @keydown.escape="showCoverImageModal = false">
    <div class="text-white text-shadow my-4">
        <h2 class="text-3xl">Edit Listing</h2>
        <p class="text-xl">Edit the details of your listing.</p>
    </div>
    {% include 'components/errors.html' %}
    <form class="form" action="{% url 'listings_edit' listing.slug listing.id %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% include 'listings/_form.html' %}
        {% include 'components/submit_btn.html' with value='Save Listing' class="btn btn-block btn-lg btn--form-submit mt-6" %}
    </form>

    <!-- Modal -->
    <div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="showCoverImageModal" :class="{ 'fixed inset-0 z-50 flex items-center justify-center h-screen': showCoverImageModal }">
        <div class="bg-white shadow-2xl m-4 sm:m-8 max-w-3xl" x-show="showCoverImageModal" @click.away="showCoverImageModal = false">
            <div class="relative">
                <button type="button" class="absolute top-0 right-0 mt-4 mr-4" @click="showCoverImageModal = false"><svg class="" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#fff" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M0 0h24v24H0z" stroke="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M10 10l4 4m0-4l-4 4" /></svg></button>
                <img id="listing_cover_image_modal_preview" class="w-full mr-2 mx-auto object-cover" src="{{ listing.cover_image.url }}" alt="">
            </div>
        </div>
    </div>

</section>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVHtWZFQ4D4WQ2ie8Fe8FaW7_VHlfQPuk&libraries=places&region=US&types=(regions)"></script>
{% endblock main %}

{% block template_js %}
<script>
    document.getElementById("id_business_name").focus();
    document.getElementById("id_phone").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_whatsapp").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_mobile").addEventListener("input", (e) => formatPhone(e));
    document.getElementById("id_fax").addEventListener("input", (e) => formatPhone(e));
</script>
<script>
    // on image select change preview src and text
    let cover_image_field = document.querySelector('#id_cover_image');
    cover_image_field.addEventListener("change", (e) => {
        const reader = new FileReader();
        let cur_img = document.querySelector("#listing_cover_image_preview");
        cur_img.src = URL.createObjectURL(event.target.files[0]);
        document.querySelector("#listing_cover_image_modal_preview").src = URL.createObjectURL(event.target.files[0]);
        cur_img.onload = function() {
            URL.revokeObjectURL(cur_img.src) // free memory
        }
        document.querySelector("#listing_cover_image_preview_link").innerText = "View Selected Image";
        document.querySelector("#listing_cover_image_preview_title").innerText = "Selected Image";
    });
</script>
<script src="{% webpack_static 'libs/trix.js' %}"></script>
{% endblock template_js %}
