{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Listings | Frum Philly{% endblock meta_title %}
{% block meta_description %}Frum Philly Business Listings{% endblock meta_description %}

{% block pagebanner %}
<section class="page-banner curved-bottom" style="background-image: url({% webpack_static 'img/illustrations/form.svg' %});background-size: 30rem;">
    <h1 class="title">Listings</h1>
</section>
{% endblock pagebanner %}


{% block main %}
<div class="container">
<section class="flex flex--space-between flex--align-start">
    <div class="list list--m0">
        {% for listing in listings %}
            {% include 'listings/_list.html' %}
            {% empty %}
            <p>No listing yet!</p>
        {% endfor %}
    </div>
    <div class="rightbar">
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
        </div>
</section>



    {% comment %} <h1>Listings Page</h1>


    {% for listing in listings %}
        <a href="{{ listing.get_absolute_url }}-{{listing.id}}">View Listing</a> <br>
        {{listing.business_name}} <br>
        {% if listing.sun_thu_hours %}{{listing.sun_thu_hours}} <br>{% endif %}
        {{listing.location}} <br>
        Credit: {{listing.accept_cc}} <br>


        {% for category in listing.categories.all %}
            <a href="{% url 'listings_category' category.slug %}">{{ category }}</a> {% if not forloop.last %} / {% endif %}
        {% endfor %}
        <hr>
    {% endfor %} {% endcomment %}
</div>
{% endblock main %}
