{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}

{% block meta_title %}Listings | Frum Philly{% endblock meta_title %}
{% block meta_description %}Frum Philly Business Listings{% endblock meta_description %}

{% block pagebanner %}
<section class="h-half-screen curved-bottom flex justify-center items-center" style="background-image: url({% webpack_static 'img/illustrations/schedule.svg' %});background-size: 30rem;background-repeat:no-repeat;background-position:center;">
    <h1 class="text-6xl text-white font-bold text-shadow">{{category_group}}</h1>
</section>
{% endblock pagebanner %}


{% block main %}

<section class="container">
    <div class="md:flex justify-between my-6">
        <div class="md:w-3/4 md:mr-6">
            
            {% if listings %}
            {% include 'listings/_filter.html' %}
            {% endif %}
                
            {% for listing in listings %}
            {% include 'listings/_list.html' %}
            {% empty %}
            <div class="bg-white rounded-md shadow-md px-4 pb-6 pt-4 mt-4 sm:pt-8 mb-6 md:mb-0 text-center">
                <p class="text-2xl mb-8">There are no listings yet.</p>
                <a class="btn btn-md block lg:inline text-center" href="{% url 'listings_select' %}">Create a Listing</a>
            </div>
            {% endfor %}
        </div>

        {% if listings.has_other_pages %}
        <div class="flex items-center">
            {% if listings.has_previous %}
            <a class="btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
            <a class="btn btn-md ml-2" href="?{% param_replace page=listings.previous_page_number %}">&lt; Prev</a>
            {% else %}
            <a class="btn btn-md opacity-50 cursor-not-allowed" href="?{% param_replace page=1 %}">&laquo; First</a>
            <a class="btn btn-md ml-2 opacity-50 cursor-not-allowed" >&lt; Prev</a>
            {% endif %}

            <span class="flex-grow text-center">
                {{ listings.number }} of {{ listings.paginator.num_pages }}
            </span>

            {% if listings.has_next %}
            <a class="btn btn-md mr-2" href="?{% param_replace page=listings.next_page_number %}">Next &gt;</a>
            <a class="btn btn-md" href="?{% param_replace page=listings.paginator.num_pages %}">Last &raquo;</a>
            {% else %}
            <a class="btn btn-md mr-2 opacity-50 cursor-not-allowed">Next &gt;</a>
            <a class="btn btn-md opacity-50 cursor-not-allowed" href="?{% param_replace page=listings.paginator.num_pages %}">Last &raquo;</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="rightbar pt-4 md:w-1/4">
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
        </div>
    </div>
    {% include 'components/listings_cta.html' %}
</section>

{% endblock main %}
