{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}

{% block meta_title %}Listings | Frum Philly{% endblock meta_title %}
{% block meta_description %}Frum Philly Business Listings{% endblock meta_description %}

{% block pagebanner %}
<section class="relative flex items-center justify-center h-half-screen curved-bottom" style="background-image: url({% webpack_static 'img/images/listings-bg.jpg' %});background-size: cover;background-repeat:no-repeat;background-position:center;">
    <div class="absolute top-0 left-0 w-full h-full bg-purple-600 bg-opacity-25"></div>\
    <div class="z-20 text-center text-white text-shadow">
        <h1 class="font-bold text-9xl ">{{category_group}}</h1>
        <p class="max-w-4xl mt-4 text-4xl">Find businesses in your neighborhood!</p>
    </div>
</section>
{% endblock pagebanner %}


{% block main %}

<section class="container">
    <div class="justify-between my-6 md:flex">
        <div class="md:w-3/4 md:mr-6">
            
            
            {% if listings or filtered_cities or filtered_categories %}
                {% include 'listings/_filter.html' %}
            {% endif %}
                
                
            {% for listing in listings %}
                {% include 'listings/_list.html' with margin=" mt-4" %}
            {% empty %}
            <div class="px-4 pt-4 pb-6 mt-4 mb-6 text-center bg-white rounded-md shadow-md sm:pt-8 md:mb-0">
                <p class="mb-8 text-2xl">There are no listings yet.</p>
                <a class="block text-center btn btn-md lg:inline" href="{% url 'listings_select' %}">Create a Listing</a>
            </div>
            {% endfor %}

            {% if listings.has_other_pages %}
            <div class="flex items-center my-10">
                {% if listings.has_previous %}
                <a class="btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 btn btn-md" href="?{% param_replace page=listings.previous_page_number %}">&lt; Prev</a>
                {% else %}
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md" >&lt; Prev</a>
                {% endif %}
    
                <span class="flex-grow text-center">
                    {{ listings.number }} of {{ listings.paginator.num_pages }}
                </span>
    
                {% if listings.has_next %}
                <a class="mr-2 btn btn-md" href="?{% param_replace page=listings.next_page_number %}">Next &gt;</a>
                <a class="btn btn-md" href="?{% param_replace page=listings.paginator.num_pages %}">Last &raquo;</a>
                {% else %}
                <a class="mr-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md">Next &gt;</a>
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=listings.paginator.num_pages %}">Last &raquo;</a>
                {% endif %}
            </div>
            {% endif %}

            {% include 'components/banner_ads.html' %}
        </div>

        {% include 'components/sidebar_ads.html' %}
    </div>
    {% include 'components/listings_cta.html' %}
</section>

{% endblock main %}
