{% extends 'base.html' %}


{% block main %}
<div class="container">
    <h1>{{listing.business_name}}</h1>

    {% if listing.cover_image %}
    <img src="{{listing.cover_image.url}}" alt="{{listing.name}}">
    {% endif %}

    <div class="editor-content">
        {{listing.description|safe}}
    </div>

    {{listing.sun_thu_hours}} <br>
    {{listing.location}} <br>
    Credit: {{listing.accept_cc}} <br>

    {% for category in listing.categories.all %}
    <a href="{% url 'listings_category' category.slug %}">{{ category }}</a> {% if not forloop.last %} / {% endif %}
    {% endfor %}
</div>
{% endblock main %}


{% block template_js %}
<script>
    const links = document.querySelectorAll(".editor-content a");
    [...links].map(link => link.setAttribute('target', '_blank'));
</script>
{% endblock template_js %}
