{% extends 'base.html' %}


{% block main %}
<div class="container">
    <h1>{{listing.business_name}}</h1>

    <img src="{{listing.cover_image.url}}" alt="{{listing.name}}">

    {% for c in listing.categories.all %}
    <span>{{c}}</span>
    {% endfor %}
    <br>

    {{listing.sun_thu_hours}} <br>
    {{listing.location}} <br>
    Credit: {{listing.accept_cc}} <br>

    {% for category in listing.categories.all %}
    <a href="{% url 'listings_category' category.slug %}">{{ category }}</a> {% if not forloop.last %} / {% endif %}
    {% endfor %}
</div>
{% endblock main %}
