{% load my_tags %}
{% load humanize %}

<section class="">
    <div class="admin-table-wrapper">
        <div class="min-w-full">
            {% if posts %}
            <table class="min-w-full leading-normal border-0 border-collapse ">
                <thead>
                    <tr class="border-b border-gray-200">
                        <th
                            class="px-5 py-3 border-b-0 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">
                            Post Title
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">
                            Post Type
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">
                            Created at
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">Reason</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        {% include "admin/reported_posts/_table_row.html" %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="flex justify-center mt-10">No posts found!</div>
            {% endif %}
        </div>
    </div>

    {% if posts.has_other_pages %}
        <div
            class="admin-table-footer pb-2 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
            <div class="mt-2 xs:mt-0 flex items-center">
                {% if posts.has_previous %}
                <a class="ml-2 mr-2 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md" href="?{% param_replace page=posts.previous_page_number %}">&lt; Prev</a>
                {% else %}
                <a class="ml-2 mr-2 opacity-50 cursor-not-allowed pointer-events-none bg-purple-900 text-white px-2 py-1 rounded-md shadow-md">&lt; Prev</a>
                {% endif %}

                <span class="text-xs xs:text-sm text-gray-900">
                    Showing {{ posts.start_index }} - {{ posts.end_index }} of {{ posts.paginator.count }} Reported Posts
                </span>

                {% if posts.has_next %}
                <a class="mr-2 ml-2 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md" href="?{% param_replace page=posts.next_page_number %}">Next &gt;</a>
                {% else %}
                <a class="mr-2 ml-2 opacity-50 cursor-not-allowed pointer-events-none ml-4 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md">Next &gt;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</section>