{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block main %}
{% include 'components/errors.html' %}
<section>
    <h2 class="title section-title">Edit event</h2>
    <form action="{% url 'events_edit' event.slug event.id %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% include 'pages/events/_events-form.html' %}
    </form>
</section>
{% endblock main %}

{% block template_js %}
{% include 'pages/events/_events_js.html' %}
{% endblock template_js %}