{% extends 'base.html' %}


{% block main %}
<h1>Events</h1>

{% for event in events %}
{{event.name}}

{% if event.location is not None %}
{{event.location}}
{% endif %}


{% if event.email_contact is not None %}
{{event.email_contact}}
{% endif %}

{{event.start_date}}
{{event.start_data}}
<!-- <img src="{{event.image}}" alt=""> -->
{{event.get_absolute_url}}
<a href="{{event.get_absolute_url}}">Go to event</a>

{% if request.user == event.created_by %}
<a href="{{event.get_absolute_url}}edit">Edit event</a>
<a href="{{event.get_absolute_url}}delete">Delete event</a>
{% endif %}

<br>
<hr>
{% endfor %}

{% if events.has_other_pages %}
<div class="pagination">
    {% if events.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ events.previous_page_number }}">&lt; Prev</a>
    {% endif %}

    <span class="current">
        Page {{ events.number }} of {{ events.paginator.num_pages }}
    </span>

    {% if events.has_next %}
    <a href="?page={{ events.next_page_number }}">Next &gt;</a>
    <a href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endif %}

{% endblock main %}