{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block template_css %}
<link href="{% webpack_static 'libs/trix.css' %}" rel="stylesheet">
<style>
    .trix-button-group--file-tools {
        display: none !important;
    }
</style>
{% endblock template_css %}

{% block pagebanner %}
<section class="page-banner curved-bottom" style="background-image: url({% webpack_static 'img/illustrations/form.svg' %});background-size: 30rem;">
    <h2 class="title">Create event</h2>
</section>
{% endblock pagebanner %}

{% block main %}



<section class="wrapper">
    {% include 'components/errors.html' %}
    <div>
        <!-- <p>Not all fields are required but the more information you can provide, the better it will look on the site. -->
        </p>
        <form class="events_form" action="{% url 'events_create' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include 'pages/events/_events-form.html' %}
            <input class="btn btn--block" id="event-submit" type="submit" value="Create Event">
        </form>
    </div>
</section>

{% endblock main %}

{% block template_js %}
{% comment %} <script src="{% webpack_static 'libs/places.js' %}"></script> {% endcomment %}
<script src="{% webpack_static 'libs/trix.js' %}"></script>
{% endblock template_js %}
