{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}


{% block main %}
<section class="page-banner" style="background-image: url({% webpack_static 'img/illustrations/events.svg' %});">
    <h1 class="title">Events</h1>

</section>

<section>
    <div class="list">
        {% for event in events %}
        {% include 'components/events_list.html' %}
        {% empty %}
        <p>No events yet!</p>
        {% endfor %}
    </div>

    {% if events.has_other_pages %}
    <div class="pagination">
        {% if events.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ events.previous_page_number }}">&lt; Prev</a>
        {% endif %}

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}
        </span>

        {% if events.has_next %}
        <a href="?page={{ events.next_page_number }}">Next &gt;</a>
        <a href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</section>

{% endblock main %}