{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% block main %}

<section class="page-banner" style="background-image: url({% webpack_static 'img/illustrations/form.svg' %});">
    <h2 class="title">Create event</h2>
</section>

<section class="wrapper">
    <div>
        <p>Not all fields are required but the more information you can provide, the better it will look on the site.
        </p>
        {% include 'components/errors.html' %}
        <form action="{% url 'events_create' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include 'pages/events/_events-form.html' %}
        </form>
    </div>
</section>

{% endblock main %}

{% block template_js %}
{% include 'pages/events/_events_js.html' %}
{% endblock template_js %}