{% extends 'base.html' %}


{% block main %}
<h1>Events</h1>

{% for event in events %}
{{event.name}}

{% if event.location is not None %}
{{event.location}}
{% endif %}


{% if event.email_contact is not None %}
{{event.email_contact}}
{% endif %}

{{event.start_date}}
{{event.start_data}}
<!-- <img src="{{event.image}}" alt=""> -->
{{event.get_absolute_url}}
<a href="{{event.get_absolute_url}}">Go to event</a>

{% if request.user == event.created_by %}
<a href="{{event.get_absolute_url}}edit">Edit event</a>
<a href="{{event.get_absolute_url}}delete">Delete event</a>
{% endif %}

<br>
<hr>
{% endfor %}

{% endblock main %}