{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block main %}
<div class="single-event">
    <h1 class="single-event__title">{{event.name}}</h1>
    <p class="single-event__meta">{{event.start_date}} {% if event.start_time %}at {{event.start_time}}{% endif %}</p>
    <div class="single-event__infobar">

        <span class="single-event__meta--desktop">{{event.start_date}}</span>
        {% if event.start_time %}at <span class="single-event__meta--desktop">{{event.start_time}}</span>{% endif %}

        {% if event.link %}
        <span>Link to site</span>
        {% endif %}

        <span><a href="https://www.google.com/maps?q={{event.location}}" target="_blank" rel="noreferrer">View Map <img
                    class="inline-icon" src="{% webpack_static 'img/icons/external-link.svg' %}"
                    aria-hidden="true"></a></span>
        <span>Requires RSVP: {% if event.rsvp %}<img class="inline-icon"
                src="{% webpack_static 'img/icons/check-circle.svg' %}" aria-hidden="true">{% else %}<img
                class="inline-icon" src="{% webpack_static 'img/icons/x-circle.svg' %}"
                aria-hidden="true">{% endif %}</span>

        <span>Price: {% if event.cost %}{{event.cost}}{% else %}Free!{% endif %}</span>

    </div>

    {% if event.email_contact %}
    {{event.email_contact}}
    {% endif %}

    <br>

    {% if event.image %}
    <img src="{{event.image.url}}" alt="{{event.name}}">
    {% endif %}
</div>
{% endblock main %}