{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}


{% block main %}
<div class="my-10">
    <div class="flex flex-row justify-between mb-4 align-center">
        <div class="text-3xl text-white sm:text-4xl text-shadow">Ads to Review</div>
    </div>

    <div class="">
        {% for ad in ads %}
        <div class="flex flex-col justify-between overflow-hidden duration-300 transform bg-white border-b md:flex-row group last:border-b-0 hover:bg-gray-100">
            <div class="flex flex-row justify-between px-2 py-1 md:px-6 md:py-4 md:flex-col md:w-1/4">
                <span class="pb-1 text-sm font-semibold text-gray-600">Ad Title</span>
                <span class="mr-8 text-sm font-semibold lg:text-base">{{ad.title}}</span>
            </div>
            <div class="flex flex-row justify-between px-2 py-1 md:px-6 md:py-4 md:w-1/4 md:flex-col">
                <span class="pb-1 text-sm font-semibold text-gray-600">User</span>
                <span class="mr-8 text-sm font-semibold lg:text-base">{{ad.user.email}}</span>
            </div>
            <div class="flex flex-row justify-between px-2 py-1 md:px-6 md:py-4 md:w-1/4 md:flex-col">
                <span class="pb-1 text-sm font-semibold text-gray-600">Creation Date</span>
                <span class="mr-8 text-sm font-semibold lg:text-base">{{ad.created_at}}</span>
            </div>
            <a class="flex items-center justify-end px-2 py-1 text-sm transition-colors duration-300 md:px-6 md:py-4 hover:bg-gray-300" href="{% url 'admin_review_ad' uuid=ad.redirect_uuid %}" x-cloak>
                <!-- duration-300 transform translate-x-40 group-hover:translate-x-0 -->
                <span class="mr-2">See Ad Details</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M5 12h14M13 18l6-6M13 6l6 6"/></svg>
            </a>
        </div>
        {% empty %}
        <div class="relative flex flex-col items-center justify-center col-span-2 p-4">
            <div class="absolute flex flex-col items-center justify-center">
                <h2 class="text-4xl text-gray-200 uppercase text-shadow">There are no ads to review yet</h2>
            </div>
            <img class="" width="400" src="{% webpack_static 'img/illustrations/empty.svg' %}" alt="">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
