{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}


{% block main %}
<div
    class="my-10" 
    x-data="component()"
    @keydown.escape="isOpen = false"
>

    <div class="flex flex-row justify-between mb-10 align-center">
        <div class="text-3xl text-white sm:text-4xl text-shadow">Ads to Review</div>
    </div>

    <div>
        {% for ad in ads %}
            {{ad.title}}
            {{ad.type}}
            {{ad.image_type}}
            {{ad.contract_length}} days
            <a href="">Approve Ad</a>
            <span class="btn" @click="toggle('{{ad.image.url}}')">View Ad</span>
            <br>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="isOpen" :class="{ 'fixed inset-0 z-50 flex items-center justify-center h-screen': isOpen }" x-cloak>
        <div class="max-w-3xl m-4 sm:m-8" x-show="isOpen" @click.away="isOpen = false">
            <div class="relative">
                <img id="ad_review_modal_preview" class="object-cover w-full mx-auto mr-2">
                <button type="button" class="block mx-auto mt-4 text-lg text-center btn btn-md" @click="isOpen = false" style="">Close Preview</button>
            </div>
        </div>
    </div>
</div>

<script>
    function component() {
        return {
            isOpen: false,
            modalImageUrl: '',
            toggle(img) {
                document.querySelector('#ad_review_modal_preview').setAttribute("src", img);
                this.isOpen = !this.isOpen;
            }
        }
    }
</script>
{% endblock main %}
