SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=''
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USER_SSL=
EMAIL_USE_TLS=
AZURE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_MEDIA_CONTAINER=
AZURE_ASSETS_CONTAINER=