footer {
    background: $dark-purple;
    margin-bottom: 0;
}

.footer__bottom {
    // text-align: center;
    color: $mid-grey;
    // padding: 1rem 3rem;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer__bottom__links a {
    color: $mid-grey;
    padding: 0 1rem;
}
