.list {
    // margin: 0.5em;
}

.list__item {
    // border: 1px solid $border-grey;
    margin: 1em 0;
    // padding: 0.5em;
    @include curveAllCorners;
    // @include backgroundGradient;
    @include boxShadow($silver);
}

.list__title {
    margin: 0;
    padding: 0.5em;
    font-size: 1rem;
    // color: $white;
    // @include whiteTextBlackShadow;
}

.list__infobar {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.list__button {
    display: block;
    padding: 0.5em;
    text-align: center;
    background: $purple;
    color: $white;
    text-decoration: none;
    @include curveBottomCorners;
}