.list {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    margin-right: 1rem;
}

.list--home {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    &>.list__item {
        margin: 0;
    }
}

.list__item {
    margin: 1em 0;
    @include curveAllCorners;
    @include boxShadow($silver);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
    text-decoration: none;
    padding: 1rem;
    background-color: $white;

    &:hover {
        background: $dark-purple;
        color: #fff;

        &>.list__title {
            color: $white;
        }

        &>.list__button {
            background: $white;
            color: $black;
        }

        &>.list__infobar>.icon {
            color: $white;
        }
    }
}

.list__title {
    margin: 0;
    font-size: 1.25rem;
    color: rebeccapurple;
    transition: all 0.5s ease;

    @media (min-width: $desktop) {
        font-size: 2.25rem;
    }
}

.list__infobar {
    display: flex;
    justify-content: space-around;
    margin: 2em 0 0;
}

.list__button {
    display: block;
    padding: 0.5em;
    text-align: center;
    background: $purple;
    color: $white;
    text-decoration: none;
    @include curveBottomCorners;
    transition: all 0.5s ease;
}

.icon {
    color: $outer-space;
    transition: all 0.5s ease;
}


.list--m0>.list__item {
    margin: 0;
}
