.messages {
    @include bottomBoxShadow($purple);
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    margin: 0;
}

.messages__success {
    background: $success;
    color: $white;
    padding: 1rem;
}

.messages__info {
    background: $success;
    color: $white;
    padding: 1rem;
}

#messages__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    cursor: pointer;
    width: 2rem;
    transform: translateY(-50%);
}

.messages--hiding {
    transform: translateY(-25rem);
    transition: transform 0.5s ease 0.25s;
}
