.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.current {
    margin: 0 1rem;
}

.pagination__link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background: $white;
    will-change: transition;
    transition: background 0.25s ease;
    @include bottomBoxShadow($silver);
    @include curveAllCorners;

    &:hover {
        background: darken($white, 10%);
    }
}
