.btn-loader {
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    background-color: #684072;
    border: 5px solid #fff;
    border-top: 5px solid #b48dbd;
    animation: spin 2s linear infinite;
    display: none;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
