html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    &.body--menu-open {
        overflow-y: hidden;
    }
}

main {
    flex: 1;
    margin-top: 4em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding: 0.5em;
}