html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;

    &.body--menu-open {
        overflow-y: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding: 0.5em;
}