.btn {
    background: $purple;
    color: $white;
    text-decoration: none;
    text-shadow: none;
    padding: 1rem;
    border: none;
}

.btn--lg {
    width: 10rem;
}

.btn--block {
    width: 100%;
}
