.btn {
    background: $purple;
    color: $white;
    text-decoration: none;
    text-shadow: none;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.btn--small {
    padding: 0.5rem 0.75rem;
}

.btn--lg {
    width: 10rem;
}

.btn--block {
    width: 100%;
    display: block;
    text-align: center;
}
