.container {
    @media (min-width: $laptop) {
        max-width: $laptop;
        margin: 1rem auto;
    }
}

.title {
    text-transform: uppercase;
    color: $white;
    font-size: 3rem;
    @include whiteTextBlackShadow;

    @media (min-width: $tablet) {
        font-size: 4rem;
    }
}

.title--smaller {
    text-transform: uppercase;
    color: $white;
    font-size: 2rem;
    @include whiteTextBlackShadow;

    @media (min-width: $tablet) {
        font-size: 3rem;
    }
}

.subtitle {
    margin-bottom: 1em;
    font-size: 1.25rem;
    @include whiteTextBlackShadow;

    @media (min-width: $tablet) {
        font-size: 1.75rem;
    }
}

.title-bar {
    position: relative;
    font-size: 1rem;
    text-align: center;

    &>.title-bar__text {
        background: $white;
    }

    &::after {
        content: '';
        border-bottom: 1px solid $black;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0.55rem;
        z-index: -1;
    }
}

.section-title {
    font-size: 2rem;
    // padding: 2rem;
    position: relative;

    // @include textGradient;

    @media (min-width: $phone) {
        font-size: 3rem;
        line-height: 0.8;
    }

    @media (min-width: $tablet) {
        font-size: 4rem;
        padding: 0rem;
    }

    @media (min-width: $laptop) {
        font-size: 4rem;
    }
}

.section-title::after {
    content: attr(data-text);
    font-size: 3.5rem;
    position: absolute;
    z-index: -1;
    display: block;
    top: -35px;
    color: #f6f3f3;
    text-shadow: none;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @media (min-width: $phone) {
        font-size: 6rem;
        top: -50px;
        line-height: 0.8;
    }

    @media (min-width: $tablet) {
        font-size: 8rem;
        top: -60px;
        line-height: 0.8;
    }

    @media (min-width: $laptop) {
        font-size: 10rem;
        top: -60px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    padding: 0 0.5em;
    max-width: 750px;
    margin: 2rem auto;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon__text {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0.5rem;
}

.flex_center_spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}
