{% csrf_token %}
<div class="m-0 form-field">
    <label class="form-field__label" for="{{form.title.id_for_label}}">
        <span>{{ form.title.label }}</span>
        <span class="font-light form-field__help-text">{{  form.title.help_text }}</span>
    </label>
    {{ form.title }}                
</div>

<div class="mb-2 form-field">
    <label class="form-field__label" for="{{form.image.id_for_label}}">
        <span>{{ form.image.label }}</span>
        <span class="font-light form-field__help-text">{{  form.image.help_text }}</span>
    </label>
    <input type="file" name="{{ form.image.html_name }}" id="{{ form.image.id_for_label }}" accept="image/png,image/jpg,image/jpeg">
    {% if ad.image %}
    <button type="button" @click="showAdImageModal = true" class="absolute top-0 right-0 hidden ml-4 overflow-hidden sm:block" style="max-height: 5.7rem;">
        <p class="mt-3 mr-2 text-xs" id="ad_image_preview_title">Current Image</p>
        <img id="ad_image_preview" class="object-cover mx-auto mt-2 mr-2" src="{{ ad.image.url }}" alt="Current image for this ad" width="80" height="40">
    </button>
    <div class="form-field__help-text">
        <button id="event_image_preview_link" type="button" @click="showAdImageModal = true">View Current Image</button>
    </div>
    {% endif %}           
</div>

<div class="mb-2 form-field">
    <label class="form-field__label" for="{{form.redirect_to.id_for_label}}">
        <span>{{ form.redirect_to.label }}</span>
        <span class="font-light form-field__help-text">{{  form.redirect_to.help_text }}</span>
    </label>
    {{ form.redirect_to }}                
</div>

<!-- Type of Ad -->
<div>
    <div class="block mt-4">
        <span class="font-bold">Type of Ad</span>
        <div class="grid grid-cols-2 gap-1 mt-2">
            <div class="border-2 radioSelect ">
                <input
                    type="radio"
                    class="hidden"
                    id="sidebar"
                    name="type"
                    value="sidebar"
                    {% if not ad.type or ad.type == "sidebar" %}checked{% endif %}
                >
                <label for="sidebar" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                    <div class="ml-2 text-2xl">Sidebar</div>
                    <div class="ml-2 text-3xl font-semibold">Maximum 300x250</div>
                </label>
            </div>
            <div class="border-2 radioSelect ">
                <input
                    type="radio"
                    class="hidden"
                    id="banner"
                    name="type"
                    value="banner"
                    {% if ad.type == "banner" %}checked{% endif %}
                >
                <label for="banner" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                    <div class="ml-2 text-2xl">Banner</div>
                    <div class="ml-2 text-3xl font-semibold">Maximum 1110x250</div>
                </label>
            </div>
        </div>
    </div>
</div>

<!-- Contract Length -->
<div>
    <div class="block mt-4">
        <span class="font-bold">Length of Term</span>
        <div class="grid grid-cols-5 gap-1 mt-2">
            {% for price in pricing %}
                {% if price.id == ad.contract_length|stringformat:"s" %}
                <div class="border-2 radioSelect">
                    <input type="radio" class="hidden" id="{{price.term|slugify}}" name="contract_length" value="{{price.id}}" checked>
                    <label for="{{price.term|slugify}}" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                        <div class="ml-2 text-2xl">{{ price.term }}</div>
                        <div class="ml-2 text-3xl font-semibold">${{price.price}}.00</div>
                    </label>
                </div>
                
                {% elif not ad.contract_length and price.id == '30' %}
                <!-- Set default -->
                <div class="border-2 radioSelect">
                    <input type="radio" class="hidden" id="{{price.term|slugify}}" name="contract_length" value="{{price.id}}" checked>
                    <label for="{{price.term|slugify}}" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                        <div class="ml-2 text-2xl">{{ price.term }}</div>
                        <div class="ml-2 text-3xl font-semibold">${{price.price}}.00</div>
                    </label>
                </div>

                {% else %}

                <div class="border-2 radioSelect">
                    <input type="radio" class="hidden" id="{{price.term|slugify}}" name="contract_length" value="{{price.id}}">
                    <label for="{{price.term|slugify}}" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                        <div class="ml-2 text-2xl">{{ price.term }}</div>
                        <div class="ml-2 text-3xl font-semibold">${{price.price}}.00</div>
                    </label>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="flex flex-row-reverse items-center mt-6">
    <label class="ml-2 text-xl" for="{{form.read_terms.id_for_label}}">
        <span>I have read and agree to the Frum Philly <a class="text-blue-600 underline" href="#">Advertising Terms & Conditions</a>.</span>
    </label>
    {{ form.read_terms }}                
</div>

<div class="flex justify-end mt-6">
    <input class="text-2xl font-semibold text-white btn btn-md" type="submit" value="Continue ▶">
</div>
