{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block main %}

<section class="my-5">
    <div class="mb-4">
        <h2 class="text-4xl text-white text-shadow">Create New Ad</h2>
    </div>
    {% include 'components/errors.html' %}
    <div>
        <form class="form" action="{% url 'create_ad' %}" method="POST" enctype='multipart/form-data'>
            {% include "ads/_form.html" %}
        </form>
    </div>
</section>

{% endblock main %}

{% block template_js %}
<script> 
    function isMobile() {
        let termRadio = document.querySelector('#termRadio')
        let termSelect = document.querySelector('#termSelect')
        if (window.innerWidth <= 640) {
            termRadio.parentNode.removeChild(termRadio);
        } else {
            termSelect.parentNode.removeChild(termSelect);
        }
    }
</script>
{% endblock template_js %}
