{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block main %}

<section class="my-10">
    <div class="mb-4">
        <h2 class="text-4xl text-white text-shadow">Create New Ad</h2>
    </div>
    {% include 'components/errors.html' %}
    <div>
        <form class="form" action="" method="POST" enctype='multipart/form-data'>

            <div class="m-0 form-field">
                <label class="form-field__label" for="{{form.title.id_for_label}}">
                    <span>{{ form.title.label }}</span>
                    <span class="font-light form-field__help-text">{{  form.title.help_text }}</span>
                </label>
                {{ form.title }}                
            </div>

            <div class="mb-2 form-field">
                <label class="form-field__label" for="{{form.image.id_for_label}}">
                    <span>{{ form.image.label }}</span>
                    <span class="font-light form-field__help-text">{{  form.image.help_text }}</span>
                </label>
                {{ form.image }}                
            </div>

            <div class="mb-2 form-field">
                <label class="form-field__label" for="{{form.redirect_to.id_for_label}}">
                    <span>{{ form.redirect_to.label }}</span>
                    <span class="font-light form-field__help-text">{{  form.redirect_to.help_text }}</span>
                </label>
                {{ form.redirect_to }}                
            </div>

            <!-- Type of Ad -->
            <div>
                <div class="block mt-4">
                    <span class="font-bold">Type of Ad</span>
                    <div class="grid grid-cols-2 gap-1 mt-2">
                        <div class="border-2 radioSelect ">
                            <input type="radio" class="hidden" id="sidebar" name="type" value="sidebar" checked>
                            <label for="sidebar" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">Sidebar</div>
                                <div class="ml-2 text-3xl font-semibold">Maximum 300x250</div>
                            </label>
                        </div>
                        <div class="border-2 radioSelect ">
                            <input type="radio" class="hidden" id="banner" name="type" value="banner">
                            <label for="banner" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">Banner</div>
                                <div class="ml-2 text-3xl font-semibold">Maximum 1110x500</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contract Length -->
            <div>
                <div class="block mt-4">
                    <span class="font-bold">Length of Term</span>
                    <div class="grid grid-cols-5 gap-1 mt-2">
                        <div class="border-2 radioSelect">
                            <input type="radio" class="hidden" id="one_week" name="contract_length" value="7">
                            <label for="one_week" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">One Week</div>
                                <div class="ml-2 text-3xl font-semibold">$10.00</div>
                            </label>
                        </div>
                        <div class="border-2 radioSelect">
                            <input type="radio" class="hidden" id="two_weeks" name="contract_length" value="14">
                            <label for="two_weeks" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">Two Weeks</div>
                                <div class="ml-2 text-3xl font-semibold">$18.00</div>
                            </label>
                        </div>
                        <div class="border-2 radioSelect">
                            <input type="radio" class="hidden" id="one_month" name="contract_length" value="30" checked>
                            <label for="one_month" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">One Month</div>
                                <div class="ml-2 text-3xl font-semibold">$30.00</div>
                            </label>
                        </div>
                        <div class="border-2 radioSelect">
                            <input type="radio" class="hidden" id="two_months" name="contract_length" value="60">
                            <label for="two_months" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">Two Months</div>
                                <div class="ml-2 text-3xl font-semibold">$50.00</div>
                            </label>
                        </div>
                        <div class="border-2 radioSelect">
                            <input type="radio" class="hidden" id="three_months" name="contract_length" value="90">
                            <label for="three_months" class="block w-full h-full px-2 py-6 text-center rounded-sm cursor-pointer">
                                <div class="ml-2 text-2xl">Three Months</div>
                                <div class="ml-2 text-3xl font-semibold">$90.00</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <a href="#">Choose a Term</a> -->
        </form>
    </div>
</section>

{% endblock main %}
