{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block main %}

    <section class="bg-purple-900 admin-table-header">
        <div class="py-2 mx-4 flex items-center justify-between flex-col md:flex-row text-white">
            <div>
                <a href="{% url 'user_ads' %}" class="underline hover:text-pink-600 text-sm">< Back to My Ads</a>
                <h2 class="text-4xl text-white text-shadow my-4">Update Your Ad</h2>
            </div>
        </div>
    </section>

    <section class="" x-data="{ 'showAdImageModal': false }" @keydown.escape="showAdImageModal = false">
        <div class="p-4 bg-white m-0">
            {% include 'components/errors.html' %}
        </div>
        <div>
            <form class="form pt-0" action="{% url 'edit_ad' ad.redirect_uuid %}" method="POST" enctype='multipart/form-data'>
                {% include "ads/_form.html" %}
            </form>
            {% if ad.image %}
            <!-- Modal -->
            <div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="showAdImageModal" :class="{ 'fixed inset-0 z-50 flex items-center justify-center h-screen': showAdImageModal }">
                <div class="max-w-3xl m-4 sm:m-8" x-show="showAdImageModal" @click.away="showAdImageModal = false">
                    <img id="ad_image_modal_preview" class="object-cover w-full mx-auto mr-2" src="{{ ad.image.url }}" alt="Preview image for this event">
                    <button type="button" class="block mx-auto mt-4 text-lg text-center btn btn-md" @click="showAdImageModal = false" style="">Close Preview</button>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock main %}

{% block template_js %}
<script>
    document.getElementById("id_title").focus();

    // on image select change preview src and text
    let image_field = document.querySelector('#id_image');
    image_field.addEventListener("change", (e) => {
        const reader = new FileReader();
        let cur_img = document.querySelector("#event_image_preview");
        cur_img.src = URL.createObjectURL(event.target.files[0]);
        document.querySelector("#event_image_modal_preview").src = URL.createObjectURL(event.target.files[0]);
        cur_img.onload = function() {
            URL.revokeObjectURL(cur_img.src) // free memory
        }
        document.querySelector("#event_image_preview_link").innerText = "View Selected Image";
        document.querySelector("#event_image_preview_title").innerText = "Selected Image";
    });
</script>
{% endblock template_js %}

