@tailwind base;

@tailwind components;

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

/* style basic html in form edior */
trix-editor h1 {
    font-size: 2rem;
}
trix-editor blockquote {
    border-left: 4px solid gray;
    padding-left: 0.5rem;
}
pre {
    background: #e8ecf1;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 5px 0;
}

/* style basic html from form editor */
.editor-content h1 {
    @apply text-4xl;
}

.editor-content a,
trix-editor a {
    @apply text-blue-400 underline;
}

.editor-content ul,
trix-editor ul {
    list-style-type: disc;
    padding-left: 5rem;
}
.editor-content ol,
trix-editor ol {
    list-style-type: decimal;
    padding-left: 5rem;
}

trix-editor blockquote,
.editor-content blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

[x-cloak] {
    display: none;
}

.embed {
    width: 100%;
    min-height: 18rem;
}
@media (min-width: 768px) {
    .embed {
        min-height: 20rem;
    }
}
@media (min-width: 1024px) {
    .embed {
        min-height: 30rem;
    }
}

.curved-bottom {
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}

.angle-img {
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
}

/* default table styles */
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #999999;
    border: 1px solid;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #999999;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #999999;
}

/* buttons */
.btn {
    @apply bg-purple-900 text-white rounded-md shadow-md cursor-pointer inline-block;
}

.btn-sm {
    @apply px-6 py-4;
}

.btn-md {
    @apply px-4 py-2;
}

.btn-lg {
    @apply px-6 py-4;
}

.btn-block {
    @apply block w-full;
}

/* Navbar hamburger */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar__icon--open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    will-change: transform;
}

.navbar__icon--open .bar2 {
    opacity: 0;
}

.navbar__icon--open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    will-change: transform;
}

/* navigation links */
.navlink {
    @apply px-4 mx-1 h-full flex items-center justify-center relative;
}
@media (max-width: 768px) {
    .navlink:hover {
        @apply bg-purple-900 opacity-75 text-white transition-all duration-75 ease-in;
    }
}

.navlink:hover::after,
.navlink.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px solid red;
}
.mobilelink {
    @apply px-4 py-2 my-2 flex rounded-md;
}
.mobilelink.active {
    @apply bg-blue-900 text-white;
}
.mobilelink:hover {
    @apply bg-gray-700 text-white transition-all duration-75 ease-in;
}

/* section titles */
.section-title {
    @apply text-center border-black border-t-4 relative flex justify-center -z-1;
}

.section-title__text {
    @apply absolute -top-2 capitalize text-4xl text-white text-shadow font-bold bg-bgGrey;
}

@media (min-width: 1024px) {
    .section-title__text {
        @apply -top-4 text-6xl;
    }
}

/* filters */
.filterSelect ul li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1rem;
}
.filterSelect ul li label {
    display: flex;
    align-items: baseline;
}
/*! purgecss start ignore */
.filterSelect ul li label input[type="checkbox"] {
    margin-right: 0.5rem;
}
/*! purgecss end ignore */

/* forms */
form {
    @apply bg-white p-4 rounded-md;
}

.check_field {
    max-height: 8rem;
    overflow-y: auto;
}

.check_field ul li label {
    display: flex;
    align-items: center;
}

/*! purgecss start ignore */
.check_field ul li label input[type="checkbox"] {
    margin-right: 0.5rem;
}
/*! purgecss end ignore */

.form-field {
    @apply my-4 mb-12 relative;
}

.form-field input {
    @apply w-full mb-2 bg-transparent-red rounded-md pt-12 px-2 pb-5 h-8 border-silver border-2;
}

.form-field textarea {
    @apply w-full mb-2 bg-transparent-red rounded-md pt-12 px-2 pb-5 border-silver border-2;
}

/*! purgecss start ignore */
.form-field input[type="checkbox"],
.form-field input[type="checkbox"]:checked {
    height: 20px;
    width: 20px;
    @apply bg-transparent-red;
}
/*! purgecss end ignore */

.form-field__label {
    top: 8px;
    left: 8px;
    @apply block font-bold mb-1 absolute;
}

.form-field--alt,
.form-field--description {
    @apply bg-transparent-red rounded-md py-5 px-2 border-silver border-2;
}

.form-field--description {
    width: 100%;
    margin-bottom: 0.5rem;
    background: rgba(211, 67, 62, 0.1);
    border-radius: 4px;
    padding: 3.25em 0.5em 1.2em;
    border: 1px solid #bfbfbf;
}

.form-field--alt .form-field__label {
    position: initial;
    @apply float-left mr-4;
}

.form-field__label--required {
    @apply text-xs;
}

.form-field--remember {
    @apply flex items-center;
}

.form-field--remember label {
    @apply mr-2;
}

/*! purgecss start ignore */
input[type="file"] {
    @apply py-12 px-2;
}

input[type="checkbox"],
input[type="checkbox"]:checked {
    width: 1rem;
    height: 1rem;
}
/*! purgecss end ignore */

.form-field__help-text {
    @apply text-sm pl-1;
}

::placeholder {
    color: #67809f !important;
}

/*! purgecss start ignore */
/* mapbox styles */
/* Basics */
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}

.mapboxgl-ctrl input {
    margin-bottom: 0;
}

.mapboxgl-ctrl-geocoder {
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  box-shadow: none;
  outline: thin dotted\8;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 50px;
  min-width: 50px;
  transition: width .25s, min-width .25s;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index: 9999;
  overflow: hidden;
  font-size: 15px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #404040;
  background-color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon-search {
    display: none;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media queries*/
@media screen and (min-width: 640px) {

  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
    width: 36px;
    min-width: 36px;
  }

  .mapboxgl-ctrl-geocoder {
    font-size: 15px;
    line-height: 20px;
  }
  .mapboxgl-ctrl-geocoder .suggestions {
    font-size: 13px;
  }

  .mapboxgl-ctrl-geocoder--icon {
    top: 8px;
  }

  .mapboxgl-ctrl-geocoder--icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
  }

  .mapboxgl-ctrl-geocoder--icon-loading {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-right: -5px;
  }

  .mapbox-gl-geocoder--error{
    color:#909090;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center
  }

}
/*! purgecss end ignore */
@tailwind utilities;
