@tailwind base;

@tailwind components;

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

/* style basic html in form edior */
trix-editor h1 {
    font-size: 2rem;
}
trix-editor blockquote {
    border-left: 4px solid gray;
    padding-left: 0.5rem;
}
pre {
    background: #e8ecf1;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 5px 0;
}

/* style basic html from form editor */
.editor-content h1 {
    @apply text-4xl;
}

.editor-content a,
trix-editor a {
    @apply text-blue-400 underline;
}

.editor-content ul,
trix-editor ul {
    list-style-type: disc;
    padding-left: 5rem;
}
.editor-content ol,
trix-editor ol {
    list-style-type: decimal;
    padding-left: 5rem;
}

.editor-content blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

[x-cloak] {
    display: none;
}

.embed {
    width: 100%;
    min-height: 18rem;
}
@media (min-width: 768px) {
    .embed {
        min-height: 20rem;
    }
}
@media (min-width: 1024px) {
    .embed {
        min-height: 30rem;
    }
}

.curved-bottom {
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}

.angle-img {
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
}

/* default table styles */
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #999999;
    border: 1px solid;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #999999;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #999999;
}

/* buttons */
.btn {
    @apply bg-purple-900 text-white rounded-md shadow-md cursor-pointer;
}

.btn-sm {
    @apply px-6 py-4;
}

.btn-md {
    @apply px-4 py-2;
}

.btn-lg {
    @apply px-6 py-4;
}

.btn-block {
    @apply block w-full;
}

/* Navbar hamburger */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar__icon--open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    will-change: transform;
}

.navbar__icon--open .bar2 {
    opacity: 0;
}

.navbar__icon--open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    will-change: transform;
}

/* #navbar__nav.navbar__nav--open {
    will-change: transform;
    transform: translateX(0);
}

@media (max-width: 768px) {
    #navbar__nav {
        will-change: transform;
        transform: translateX(100vw);
        transition: transform 0.5s ease-in-out;
    }
} */

/* navigation links */
.navlink {
    @apply px-4 mx-1 h-full flex items-center justify-center relative;
}
@media (max-width: 768px) {
    .navlink:hover {
        @apply bg-purple-900 opacity-75 text-white transition-all duration-75 ease-in;
    }
}

.navlink:hover::after,
.navlink.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px solid red;
}
.mobilelink {
    @apply px-4 py-2 my-2 flex rounded-md;
}
.mobilelink.active {
    @apply bg-blue-900 text-white;
}
.mobilelink:hover {
    @apply bg-gray-700 text-white transition-all duration-75 ease-in;
}

/* section titles */
.section-title {
    @apply text-center border-black border-t-4 relative flex justify-center -z-1;
}

.section-title__text {
    @apply absolute -top-2 capitalize text-4xl text-white text-shadow font-bold bg-bgGrey;
}

@media (min-width: 1024px) {
    .section-title__text {
        @apply -top-4 text-6xl;
    }
}

/* filters */
.filterSelect ul li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1rem;
}
.filterSelect ul li label {
    display: flex;
}
.filterSelect ul li label [type=checkbox] {
    margin-right: 0.5rem;
}


/* forms */
form {
    @apply bg-white p-4 rounded-md;
}

.check_field {
    max-height: 8rem;
    overflow-y: auto;
}

.form-field {
    @apply my-4 mb-12 relative;
}

.form-field input {
    @apply h-8;
}

.form-field input,
.form-field textarea {
    @apply w-full mb-2 bg-transparent-red rounded-md pt-12 px-2 pb-5 border-silver border-2;
}

.form-field input[type="checkbox"],
.form-field input[type="checkbox"]:checked {
    height: 20px;
    width: 20px;
    @apply bg-transparent-red;
}

.form-field__label {
    top: 8px;
    left: 8px;
    @apply block font-bold mb-1 absolute;
}

.form-field--alt,
.form-field--description {
    @apply bg-transparent-red rounded-md py-5 px-2 border-silver border-2;
}

.form-field--description {
    width: 100%;
    margin-bottom: 0.5rem;
    background: rgba(211, 67, 62, 0.1);
    border-radius: 4px;
    padding: 3.25em 0.5em 1.2em;
    border: 1px solid #bfbfbf;
}

.form-field--alt .form-field__label {
    position: initial;
    @apply float-left mr-4;
}

.form-field__label--required {
    @apply text-xs;
}

.form-field--remember {
    @apply flex items-center;
}

.form-field--remember label {
    @apply mr-2;
}

input[type="file"] {
    @apply py-12 px-2;
}

input[type="checkbox"],
input[type="checkbox"]:checked {
    width: 1rem;
    height: 1rem;
}

.form-field__help-text {
    @apply text-sm pl-1;
}

::placeholder {
    color: #67809f !important;
}

@tailwind utilities;
