<!-- {% load webpack_static from webpack_loader %} -->


<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3267594234437784"
     data-ad-slot="2748391920"
     data-ad-format="auto"
     data-page-url = "http://www.frumphilly.com"
     data-full-width-responsive="true"></ins>

<!-- {% if ads.banner_ads %}

    {% with ad=ads.banner_ads|random %}     
    <div class="mt-4 "><a href="{% url 'redirect_ad' id=ad.redirect_uuid %}" target="_blank"><img src="{{ad.image.url}}" alt="Advertise on Frum Philly" class="block mx-auto"></a></div>
    {% endwith %}

{% else %}
<div class="mt-4"><a href="{% url 'advertising' %}"><img width="1110" height="250" src="{% webpack_static 'img/images/fp-banner-ad-one.jpg' %}" alt="Advertise on Frum Philly" class="block mx-auto"></a></div>
{% endif %} -->
