{% load webpack_static from webpack_loader %}

<section class="relative my-16 sm:mx-4 md:mx-0 bg-gray-600 overflow-hidden rounded-md shadow-md font-bold flex items-center justify-center text-center md:text-left{% if value %} {{ value }}{% else %} flex-col md:flex-row{% endif %}">
    <div class="absolute z-10 w-full p-2 text-white opacity-100 md:relative md:ml-6 md:w-1/2 text-shadow md:text-shadow-0">
        <h4 class="text-6xl xl:text-8xl">Want people to see your event?</h4>
        {% if user.is_authenticated %}
        <a class="mt-4 text-2xl uppercase btn btn-lg" href="{% url 'listings_select' %}">Create your event!</a>
        {% else %}
        <a class="mt-4 text-2xl uppercase btn btn-lg" href="/accounts/signup">Create your event!</a>
        {% endif %}
    </div>
    <div class="w-full md:w-1/2">
        <img class="object-cover h-full rounded-md opacity-75 md:rounded-tl-none md:rounded-bl-none md:rounded-tr-md md:rounded-br-md xl:w-full" src="{% webpack_static 'img/images/events_cta.jpg' %}" alt="Add your event to Frum Philly">
    </div>
</section>

