<div class="list__item">
    <h3 class="list__title">{{event.name}}</h3>

    <p class="list__location">
        {% if event.location is not None %}
        <a href="https://www.google.com/maps?q={{event.location}}" target="_blank"
            rel="noreferrer">{{event.location}}</a>
        {% endif %}
    </p>


    <p class="list__date">{{event.start_date}}</p>

    {% if event.end_date is not None %}
    <p class="list__date">{{event.end_date}}</p>
    {% endif %}

    {% if event.email_contact is not None %}
    <p class="list__email">{{event.email_contact}}</p>
    {% endif %}

    <!-- <img src="{{event.image}}" alt=""> -->
    <a href="{{ event.get_absolute_url }}-{{event.id}}" class="list__link">See more</a>

</div>