{% load blocktrans from i18n %}

<footer id="footer" class="bg-purple-900 text-white">
    <div class="container">
        <section class="flex justify-between p-4 text-sm">
            <div class="">
                {% now "Y" as current_year %}
                {% blocktrans %}&copy; Copyright {{ current_year }} Frum Philly. All Rights Reserved.{% endblocktrans %}
            </div>
            <div class="">
                <a class="px-4" href="{% url 'terms' %}">Terms of Service</a>
                <a class="px-4" href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
        </section>
    </div>
</footer>
