{% load webpack_static from webpack_loader %}
{% load socialaccount %}

<div x-data="{ showMobileMenu: false }" class="md:hidden" x-cloak>
    <div @click="showMobileMenu = !showMobileMenu" class="mr-4 cursor-pointer" :class="{ 'navbar__icon--open' : showMobileMenu}">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div x-show="showMobileMenu" @click.away="showMobileMenu = false" class="fixed left-0 top-avoid-header w-full z-50 bg-bgGrey p-4 shadow-md pointer-events-none" :class="{ 'block pointer-events-auto' : showMobileMenu}" x-transition:enter="transition ease-in duration-100" x-transition:enter-start="opacity-0 transform translate-y-4" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave-end="opacity-0 transform translate-y-4">
        {% with url_name=request.resolver_match.url_name  %}
        <a class=" mobilelink{% if url_name == 'home' %} active{% endif %}" href="{% url 'home' %}" href="{% url 'home' %}">Home</a>

        <a class="mobilelink{% if url_name == 'events' %} active{% endif %}" href="{% url 'events_all' %}" href="{% url 'events_all' %}">Events</a>

        {% if user.is_authenticated %}
        <hr class="border-blue-900">
        <div class="mx-4 my-4 flex items-center">
            {% if user.avatar %}
            <img class="h-10 w-10 rounded-full object-cover" src="{{ user.avatar.url }}" alt="" width="10" height="10">
            {% elif user.socialaccount_set.all.0.get_avatar_url %}
            <img class="h-10 w-10 rounded-full object-cover" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" width="10" height="10">
            {% else %}
            <img class="h-10 w-10 rounded-full object-cover" src="{% webpack_static 'img/images/blank_avatar.jpg' %}" alt="" width="10" height="10">
            {% endif %}
            <span class="ml-4">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
            </span>
        </div>

        <a class="mobilelink{% if url_name == 'user_account' %} active{% endif %}" href="{% url 'user_account' %}" href="{% url 'user_account' %}">My Account</a>
        <a class="mobilelink{% if url_name == 'listings_select' %} active{% endif %}" href="{% url 'listings_select' %}"" href=" {% url 'listings_select' %}">Create Listing</a>
        <a class="mobilelink{% if url_name == 'events_create' %} active{% endif %}" href="{% url 'events_create' %}"" href=" {% url 'events_create' %}">Create Event</a>

        <form class="bg-transparent mobilelink" action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            <input class="bg-transparent" type="submit" value="Log Out">
        </form>

        {% else %}

        <a class="mobilelink{% if url_name == 'account_login' %} active{% endif %}" href="{% url 'account_login' %}" href="{% url 'account_login' %}">Sign In</a>

        <a class="btn btn-md block text-center md:text-left md:flex items-center justify-center mt-8 md:mt-0 md:ml-4{% if url_name == 'account_signup' %} active{% endif %}" href="{% url 'account_signup' %}">Create Account</a>

        {% endif %}

        {% endwith %}
    </div>
</div>
