{% load webpack_static from webpack_loader %}
{% load socialaccount %}

<header id="navbar" class="bg-white fixed w-full top-0 px-2 md:px-0  h-16 z-50">
    <div class="md:container flex justify-between items-center md:mx-auto h-full">
        <a id="navbar__brand" href="{% url 'home' %}">
            <img class="w-40" src="{% webpack_static 'img/logos/logo.svg' %}" alt="Frum Philly Logo">
        </a>
        <nav class="h-full hidden md:flex justify-center items-center">
            {% with url_name=request.resolver_match.url_name  %}
            <a class="navlink{% if url_name == 'home' %} active{% endif %}" href="{% url 'home' %}">Home</a>
            {% comment %} <a class="navlink{% if url_name == 'about' %} active{% endif %}" href="{% url 'about' %}">About</a> {% endcomment %}
            <div class="relative flex h-full text-left" x-data="{ showCategoryFilter: false }">
                <div @click="showCategoryFilter = !showCategoryFilter">
                    <span class="rounded-md shadow-sm">
                        <button type="button" class="navlink{% if url_name == 'listings' %} active{% endif %}" href="{% url 'home' %}" id="options-menu" aria-haspopup="true" aria-expanded="true">
                            <span>Listings</span>
                            <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </span>
                </div>
            
                <div class="origin-top-right absolute left-0 mt-18 w-56 z-10 rounded-md shadow-lg" x-show="showCategoryFilter" @click.away="showCategoryFilter = false" x-transition:enter="transition ease-in duration-100" x-transition:enter-start="opacity-0 transform translate-y-4" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave-end="opacity-0 transform translate-y-4" x-cloak>
                    <div class="rounded-md bg-white shadow-xs">
                        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                            {% with current_url=request.resolver_match.kwargs.slug  %}
                            {% for cat in categories %}
                            <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-400 hover:text-gray-900 focus:outline-none focus:bg-gray-400 focus:text-gray-900 {% if current_url == cat.slug %} pointer-events-none bg-gray-200 {% endif %}" href="{% url "listings" cat.slug %}" role="menuitem">{{cat.title}}</a>
                            {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <a class="navlink{% if url_name == 'events_all' %} active{% endif %}" href="{% url 'events_all' %}">Events</a>
            {% if user.is_authenticated %}

            <div class="mx-4 my-4 flex items-center relative" x-data="{ showAccountMenu: false }" x-cloak>
                <button @click="showAccountMenu = !showAccountMenu" class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-outline cursor-pointer" id="user-menu" aria-label="User menu" aria-haspopup="true">
                    {% if user.avatar %}
                    <img class="h-10 w-10 rounded-full object-cover" src="{{ user.avatar.url }}" alt="" width="10" height="10">
                    {% elif user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="h-10 w-10 rounded-full object-cover" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" width="10" height="10">
                    {% else %}
                    <img class="h-10 w-10 rounded-full object-cover" src="{% webpack_static 'img/images/blank_avatar.jpg' %}" alt="" width="10" height="10">
                    {% endif %}
                    <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M0 0h24v24H0z" stroke="none" />
                            <path d="M6 9l6 6 6-6" /></svg></span>
                </button>
                <div class="absolute top-avoid-header p-2 right-0 bg-white rounded-md shadow-md w-40 flex flex-col" x-show="showAccountMenu" @click.away="showAccountMenu = false" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90">
                    <a class="p-2 hover:bg-gray-200" href="{% url 'user_account' %}">My Account</a>
                    <a class="p-2 hover:bg-gray-200" href="{% url 'listings_select' %}">Create Listing</a>
                    <a class="p-2 hover:bg-gray-200" href="{% url 'events_create' %}">Create Event</a>
                    <form class="bg-transparent p-0" action="{% url 'account_logout' %}" method="POST">
                        {% csrf_token %}
                        <input class="bg-transparent hover:bg-gray-200 p-2 w-full text-left cursor-pointer" type="submit" value="Log Out">
                    </form>
                </div>
            </div>

            {% else %}
            <a class="navlink{% if url_name == 'account_login' %} active{% endif %}" href="{% url 'account_login' %}">Sign In</a>
            <a class="btn btn-md md:flex items-center justify-center mt-8 md:mt-0 mx-12 md:mx-0 md:ml-4{% if url_name == 'account_signup' %} active{% endif %}" href="{% url 'account_signup' %}">Create Account</a>
            {% endif %}
            {% endwith %}
        </nav>
        {% include 'components/mobile-nav.html' %}
    </div>
</header>
