{% extends 'dashboard.html' %}

{% block main %}
    <section class="bg-purple-900 admin-table-header">
        <div class="py-2 flex items-center justify-between flex-col md:flex-row">
            <h2 class="px-4 text-white text-2xl font-bold">Ads</h2>
            {% include "admin/ads/_table_filters.html" %}
        </div>
    </section>
    {% include "admin/ads/_table.html" %}
{% endblock main %}

{% block template_js %}
    {% if posts.has_other_pages %}
        {% include "admin/admin-table-js.html" %}
    {% endif %}
{% endblock %}