{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}


{% block main %}

    <section class="pt-4 bg-purple-900">
        <div class="container flex items-center justify-between">
            <div class="text-white">
                <a href="{% url 'admin_all_ads' %}" class="underline hover:text-pink-600">< Back to Ads</a>
                <h2 class="mt-6 text-3xl font-bold">{{ post.report_reason }}</h2>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="bg-white rounded-md shadow-md">
            <div class="flex flex-col justify-between border-b-2 md:px-8 md:py-8 md:items-center md:flex-row">
                <div class="text-2xl font-semibold text-gray-600">{{ad.title}}</div>
                <a class="w-40 mt-4 text-lg font-semibold text-center btn btn-md md:mt-0" id="approveAdSubmit" href="{% url 'activate_ad' uuid=ad.redirect_uuid %}">Approve Ad</a>
            </div>

            <div class="flex flex-col px-2 py-2 bg-gray-100 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Ad Status</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.status}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Ad Type</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.type}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 bg-gray-100 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Contract Length</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{price_info.term}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Redirect To</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.redirect_to}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 bg-gray-100 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Image Type</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.image_type}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Created At</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.created_at}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 bg-gray-100 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">User Email</div>
                <div class="pt-2 md:w-2/3 md:pt-0">{{ad.user.email}}</div>
            </div>

            <div class="flex flex-col px-2 py-2 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Ad Image</div>
                <div class="pt-2 md:w-2/3 md:pt-0"><img style="max-height: 250px;" src="{{ad.image.url}}" alt=""></div>
            </div>

            <div class="flex flex-col px-2 py-2 bg-gray-100 md:py-4 md:px-8 md:flex-row">
                <div class="text-sm font-semibold text-gray-600 md:w-1/3">Payments</div>
                <div class="flex flex-col pt-4 md:w-2/3 md:pt-2">
                    {% for payment in payments %}
                        <div class="mb-2 overflow-hidden text-white bg-gray-600 rounded-md shadow-sm">
                            <div class="px-4 py-2 text-base font-semibold">{{ payment.created_at }}</div>
                            <div class="flex flex-col bg-gray-900 border-b-2 border-gray-600 md:flex-row">
                                <div class="px-4 py-2 text-sm font-semibold md:w-1/2">Payment Status</div>
                                <div class="px-4 py-2 md:w-1/2">{{payment.payment_status}}</div>
                            </div>
                            <div class="flex flex-col bg-gray-900 border-b-2 border-gray-600 md:flex-row">
                                <div class="px-4 py-2 text-sm font-semibold md:w-1/2">Amount Paid</div>
                                <div class="px-4 py-2 md:w-1/2">${{payment.amount_paid|stringformat:"i"|slice:":2"}}.00</div>
                            </div>
                            <div class="flex flex-col bg-gray-900 border-b-2 border-gray-600 md:flex-row">
                                <div class="px-4 py-2 text-sm font-semibold md:w-1/2">Ad Type</div>
                                <div class="px-4 py-2 md:w-1/2">{{payment.purchase_choice}}</div>
                            </div>
                            <div class="flex flex-col bg-gray-900 border-b-2 border-gray-600 md:flex-row">
                                <div class="px-4 py-2 text-sm font-semibold md:w-1/2">Payment Email</div>
                                <div class="px-4 py-2 md:w-1/2">{{payment.email}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock main %}

{% block template_js %}
<script>
    const loaderSVG = `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none repeat scroll 0% 0%; display: block; shape-rendering: auto;" width="3rem" height="2.125rem" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
<rect x="17.5" y="30" width="15" height="40" fill="#ff9478">
  <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
  <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate>
</rect>
<rect x="42.5" y="30" width="15" height="40" fill="#67809f">
  <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
  <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
</rect>
<rect x="67.5" y="30" width="15" height="40" fill="#e87e04">
  <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
  <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
</rect>
</svg>`;

    document.querySelector("#approveAdSubmit").addEventListener("click", (e) => {
        e.target.innerText = "";
        e.target.style.padding = "0.5rem";
        e.target.style.pointerEvents = "none";
        e.target.innerHTML = loaderSVG;
    });
</script>
{% endblock template_js %}
