{% load webpack_static from webpack_loader %}

<div class="hidden md:block md:w-48 lg:w-64 mr-4 overflow-y-hidden max-w-lg text-white">
    {% with url_name=request.resolver_match.url_name  %}
    <nav class="mt-10 md:w-48 lg:w-64 bg-gray-700 p-2 rounded-md shadow-md fixed">

        <div>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'user_account' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'user_account' %}">
                <span class=" font-medium">Dashboard</span>
            </a>
        </div>

        <div>
            <div class="mx-0 mt-4 mb-2 text-teal-400 font-light border-b-2 border-teal-600">Events</div>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'user_events' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'user_events' %}">
                <span class="font-medium">My Events</span>
            </a>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'events_create' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'events_create' %}">
                <span class="font-medium">Create Event</span>
            </a>
        </div>

        <div class="flex flex-col">
            <div class="mx-0 mt-4 mb-2 text-teal-400 font-light border-b-2 border-teal-600">Listings</div>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'user_listings' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'user_listings' %}">
                <span class="font-medium">My Listings</span>
            </a>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'listings_select' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'listings_select' %}">
                <span class="font-medium">Create Listing</span>
            </a>
        </div>

        <div class="flex flex-col">
            <div class="mx-0 mt-4 mb-2 text-teal-400 font-light border-b-2 border-teal-600">Account</div>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'account_change_password' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'account_change_password' %}">
                <span class="font-medium">Update Password</span>
            </a>
            <a class="w-full block p-4 rounded-md hover:bg-teal-900{% if url_name == 'account_email' %} bg-gray-900 border-r-4 border-white{% endif %}" href="{% url 'account_email' %}">
                <span class="font-medium">Update Email</span>
            </a>
        </div>

        {% comment %} <div class="absolute bottom-0">
            <a class="flex items-center py-2 px-8 text-gray-600 hover:text-gray-500" href="/">
                <span class="mx-4 font-medium flex items-center"><svg class="mr-2" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
                    </svg>Back to site</span>
            </a>
        </div> {% endcomment %}
    </nav>

    {% endwith %}
</div>
