{% extends 'dashboard.html' %}
{% load humanize %}
{% block meta_title %}Manage Your Listings | Frum Philly{% endblock meta_title %}
{% block meta_description %}Manage the listings you have published on Frum Philly.{% endblock meta_description %}

{% block main %}
<div class="my-10">
    <div class="flex flex-row justify-between mb-10 align-center">
        <div class="text-3xl text-white sm:text-4xl text-shadow">My Listing</div>
        <a class="flex items-center btn btn-md" href="{% url 'listings_select' %}">Create Listing</a>
    </div>
    <section class="w-full my-6 md:rounded-md md:shadow-md">
        {% for listing in listings %}
        <div class="grid grid-cols-1 gap-4 px-4 pt-4 pb-6 m-0 mb-6 bg-white border rounded-md shadow-md md:items-start sm:grid-cols-3 sm:gap-8 lg:gap-0 lg:grid-cols-5 sm:pt-8 md:mb-0 md:shadow-none md:rounded-none md:even:bg-teal-200">
            <span class="relative pt-2 text-center lg:text-left">
                <div class="flex justify-center text-sm font-bold uppercase lg:absolute -top-3">Listing Name</div>
                <a href="{% url 'listing_single' listing.slug listing.id %}" class="underline hover:text-pink-400">{{listing.business_name}}</a>
            </span>
            <span class="relative pt-2 text-center lg:text-left">
                <div class="flex justify-center text-sm font-bold uppercase lg:absolute -top-3">Posted</div>
                {{listing.created_at|naturalday}}
            </span>
            <span class="relative pt-2 text-center lg:text-left">
                <div class="flex justify-center text-sm font-bold uppercase lg:absolute -top-3">Status</div>
                {{listing.status}}
            </span>
            <span class="pt-2 my-6 text-center lg:text-left sm:my-0">
                <a class="px-4 py-2 text-white bg-purple-700 rounded-md shadow-md hover:bg-purple-900 hover:shadow-lg" href="{% url 'listings_edit' listing.slug listing.id %}">Edit Listing</a>
            </span>
            <span class="pt-2 text-center lg:text-left">
                <a class="px-4 py-2 text-white bg-red-500 rounded-md shadow-md hover:bg-red-700 hover:shadow-lg" href="{% url 'listings_delete' listing.slug listing.id %}">Delete Listing</a>
            </span>
        </div>
        {% empty %}
        <div class="justify-between px-4 pt-4 pb-6 mb-6 bg-white rounded-md shadow-md sm:pt-8 md:mb-0 lg:flex">
            <p class="mb-8 text-2xl text-center lg:mb-0 lg:text-left">You have not posted any listings yet.</p>
            <a class="block text-center btn btn-md lg:inline" href="{% url 'listings_select' %}">Create a Listing</a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock main %}
