{% extends 'dashboard.html' %}
{% load humanize %}
{% load my_tags %}
{% load webpack_static from webpack_loader %}
{% block meta_title %}Manage Your Ads | Frum Philly{% endblock meta_title %}
{% block meta_description %}Manage the ads you have published on Frum Philly.{% endblock meta_description %}

{% block main %}

    <section class="bg-purple-900 admin-table-header">
        <div class="py-2 mx-4 flex items-center justify-between flex-col md:flex-row">
            <h2 class="py-3 text-white text-2xl font-bold">My Ads</h2>
            <a class="flex items-center bg-white rounded-md border border-gray-200 px-4 py-1" href="{% url 'create_ad' %}">Create Ad</a>
        </div>
    </section>

    <section class="admin-table-wrapper">
        <div class="min-w-full">
            {% if ads %}
            <table class="min-w-full leading-normal border-0 border-collapse ">
                <thead>
                    <tr class="border-b border-gray-200">
                        <th
                            class="px-5 py-3 border-b-0 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">
                            Title
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">
                            Status
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none">Contract Length</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none"></th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider sticky top-0 z-10" style="border: none"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ad in ads %}
                        <tr class="border-b border-gray-200 group" id="post-row-{{ ad.id }}">
                            <td class="px-5 py-5 bg-white group-hover:bg-gray-100 text-base max-w-sm" style="border: none">
                                <div class="flex items-center">
                                    <div class="ml-3">
                                        <p class="text-gray-900 whitespace-no-wrap font-bold">
                                            {{ ad.title }}
                                            {% if ad.status == 'active' %}
                                                <p class="text-gray-600 font-semibold text-sm whitespace-no-wrap mt-2">
                                                    Your ad is active and has {{ ad.time_remaining }} day{{ ad.time_remaining|pluralize }} remaining.
                                                </p>
                                            {% elif ad.status == 'inactive' %}
                                                <p class="text-gray-600 font-semibold text-sm whitespace-no-wrap mt-2">
                                                    Your ad has been created but no payment was made. Activate your ad by making a payment.
                                                </p>
                                            {% elif ad.status == 'review' %}
                                                <p class="text-gray-600 font-semibold text-sm whitespace-no-wrap mt-2">
                                                    Your ad has been created and paid for and is under review by Frum Philly management. The start of the ad's term will only begin once management has made it active. If you have any questions or concerns please <a class="text-blue-600 underline" href="{% url 'contact' %}">contact us</a>.
                                                </p>
                                            {% elif ad.status == 'paused' %}
                                                <p class="text-gray-600 font-semibold text-sm whitespace-no-wrap mt-2">
                                                    Your ad has been paused. There are {{ ad.time_remaining }} day{{ ad.time_remaining|pluralize }} remaining. If you have any questions or concerns please <a class="text-blue-600 underline" href="{% url 'contact' %}">contact us</a>.
                                                </p>
                                            {% elif ad.status == 'expired' %}
                                                <p class="text-gray-600 font-semibold text-sm whitespace-no-wrap mt-2">
                                                    Expired {{ad.time_remaining|naturaltime}}
                                                </p>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-5 py-5 bg-white group-hover:bg-gray-100 text-sm" style="border: none">
                                {% if ad.status == 'active' %}
                                    <p class="text-gray-900 font-semibold w-16 whitespace-no-wrap bg-green-500 capitalize py-1 rounded text-center">{{ ad.status }}</p>
                                {% elif ad.status == 'inactive' %}
                                    <p class="text-gray-900 font-semibold w-16 whitespace-no-wrap bg-red-600 capitalize py-1 rounded text-center">{{ ad.status }}</p>
                                {% elif ad.status == 'review' %}
                                    <p class="text-gray-900 font-semibold w-16 whitespace-no-wrap bg-yellow-600 capitalize py-1 rounded text-center">{{ ad.status }}</p>
                                {% elif ad.status == 'paused' %}
                                    <p class="text-gray-900 font-semibold w-16 whitespace-no-wrap bg-yellow-400 capitalize py-1 rounded text-center">{{ ad.status }}</p>
                                {% elif ad.status == 'expired' %}
                                    <p class="text-gray-900 font-semibold w-16 whitespace-no-wrap bg-red-400 capitalize py-1 rounded text-center">{{ ad.status }}</p>
                                {% endif %}
                            </td>
                            <td class="px-5 py-5 bg-white group-hover:bg-gray-100 text-sm" style="border: none">
                                {{ ad.contract_length }} Days
                            </td>
                            <td class="px-5 py-5 bg-white group-hover:bg-gray-100 text-sm" style="border: none">
                                <img class="w-36" src="{{ad.image.url}}" alt="">
                            </td>
                            <td class="px-5 py-5 bg-white group-hover:bg-gray-100 text-sm" style="border: none">
                                <p class="text-gray-900 whitespace-no-wrap">
                                    <div x-data="{ open: false }" class="relative w-full">
                                        <button @click="open = true" class="border border-black rounded-md px-2 py-1 flex">Actions<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="m6 9 6 6 6-6H6"/></svg></button>

                                        <div x-show="open" x-cloak @click.away="open = !open" class="absolute top-8 left-0 bg-white w-full z-20 rounded-md shadow-md py-2">
                                            <a href="{% url 'ad_details' uuid=ad.redirect_uuid %}" class="inline-block px-2 py-1 w-full text-left hover:bg-gray-200">View Ad Details</a>
                                            {% if ad.status == 'expired' %}
                                                <a href="{% url 'edit_ad' ad.redirect_uuid %}" class="inline-block px-2 py-1 w-full text-left hover:bg-gray-200">Buy Again</a>
                                            {% elif ad.status == 'inactive' %}
                                                <a href="/ads/review?ad={{ad.redirect_uuid}}" class="inline-block px-2 py-1 w-full text-left hover:bg-gray-200">Activate Ad</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="relative flex flex-col items-center justify-center col-span-2 p-4 mt-16">
                    <div class="absolute flex flex-col items-center justify-center">
                        <h2 class="text-4xl text-gray-200 uppercase text-shadow">You have no ads!</h2>
                    </div>
                    <img class="" width="400" src="{% webpack_static 'img/illustrations/empty.svg' %}" alt="">
                </div>
            {% endif %}
        </div>

        {% if ads.has_other_pages %}
            <div
                class="admin-table-footer pb-2 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                <div class="mt-2 xs:mt-0 flex items-center">
                    {% if ads.has_previous %}
                    <a class="ml-2 mr-2 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md" href="?{% param_replace page=ads.previous_page_number %}">&lt; Prev</a>
                    {% else %}
                    <a class="ml-2 mr-2 opacity-50 cursor-not-allowed pointer-events-none bg-purple-900 text-white px-2 py-1 rounded-md shadow-md">&lt; Prev</a>
                    {% endif %}

                    <span class="text-xs xs:text-sm text-gray-900">
                        Showing {{ ads.start_index }} - {{ ads.end_index }} of {{ ads.paginator.count }} Reported Posts
                    </span>

                    {% if ads.has_next %}
                    <a class="mr-2 ml-2 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md" href="?{% param_replace page=ads.next_page_number %}">Next &gt;</a>
                    {% else %}
                    <a class="mr-2 ml-2 opacity-50 cursor-not-allowed pointer-events-none ml-4 bg-purple-900 text-white px-2 py-1 rounded-md shadow-md">Next &gt;</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </section>

{% endblock main %}
