{% for field in form %}

{% if field.name == 'image' %}
<div class="form-field">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }}</label>
    <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}" accept="image/png,image/jpg,image/jpeg">
    {% if event.image.name is not Null %}
    <button type="button" @click="showEventImageModal = true" class="ml-4 absolute top-0 right-0 overflow-hidden" style="max-height: 5.7rem;">
        <p class="text-xs mt-3 mr-2" id="event_image_preview_title">Current Image</p>
        <img id="event_image_preview" class="mt-2 mr-2 mx-auto object-cover" src="{{ event.image.url }}" alt="" width="80" height="40">
    </button>
    <div class="form-field__help-text">
        <button id="event_image_preview_link" type="button" @click="showEventImageModal = true">View
            Current Image</button>
    </div>
    {% endif %}
</div>

{% elif field.name == 'categories' %}

<div class="my-4 relative w-full mb-2 bg-transparent-red rounded-md px-2 border-silver border-2">
    <label class="top-0 block font-bold my-2" for="{{form.categories.id_for_label }}">{{ form.categories.label }} {% if form.categories.field.required %}<span class="">(required)</span>{% endif %}
        {% comment %} <p><small>Please select at least one category:</small></p> {% endcomment %}
        {% if form.categories.errors %}
        <p class="text-red-600"><small>Please select at least one category:</small></p>
        {% else %}
        <p><small>Please select at least one category:</small></p>
        {% endif %}
    </label>
    <div class="check_field">
        {{ form.categories }}

        {% if form.categories.name in helptext_fields %}
        <div class="form-field__help-text">{{ form.categories.help_text }}</div>
        {% endif %}
    </div>
</div>


{% elif field.name == 'attachment' %}
<div class="form-field">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }}</label>
    <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}" accept="application/pdf">
    {% if event.attachment %}
    <div class="form-field__help-text">
        <a href="#" onclick="window.open('{{ event.attachment.url }}', '_blank'
                , 'location=yes,height=570,width=520,scrollbars=yes,status=yes' );">View
            Current Attachment</a>
    </div>
    {% endif %}
</div>

{% elif field.name == 'description' %}

<div class="form-field form-field--description">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }}</label>
    {{form.description}}
    <trix-editor input="{{form.description.auto_id}}"></trix-editor>
</div>

{% else %}

<div class="form-field {% if field.name == 'rsvp' %}form-field--alt{% endif %}">
    <label class="form-field__label" for="{{field.id_for_label}}">{{ field.label }} {% if field.field.required %}<span class="form-field__label--required">(required)</span>{% endif %}</label>
    {{ field }}

    {% if field.name in helptext_fields %}
    <div class="form-field__help-text">{{ field.help_text }}</div>
    {% endif %}
</div>
{% endif %}

{% endfor %}
