{% load webpack_static from webpack_loader %}
<a class="relative group rounded-md shadow-sm bg-white hover:bg-purple-900 hover:text-white transition-all duration-100 ease-in p-4 flex flex-col justify-between" href="{{ event.get_absolute_url }}">
    <h3 class="text-purple-900 group-hover:text-white transition-all duration-100 ease-in text-2xl font-bold">{{event.name}}</h3>

    {% if event.event_in_past %}
        <div class="absolute right-0 top-0 mt-3 mr-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-red-700 group-hover:stroke-current group-hover:text-gray-200" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M12 9v2m0 4v.01M5 19h14a2 2 0 001.84-2.75L13.74 4a2 2 0 00-3.5 0l-7.1 12.25A2 2 0 004.89 19"/></svg>
            <span class="mx-1 text-sm font-semibold text-red-700 group-hover:stroke-current group-hover:text-gray-200">Event Has Passed</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="text-red-700 group-hover:stroke-current group-hover:text-gray-200" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M12 9v2m0 4v.01M5 19h14a2 2 0 001.84-2.75L13.74 4a2 2 0 00-3.5 0l-7.1 12.25A2 2 0 004.89 19"/></svg>
        </div>
    {% endif %}
        

    <div class="flex justify-around mt-4">
        <span class="flex flex-col items-center group-hover:text-white transition-all duration-100 ease-in">
            <svg class="" width="24" height="24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none" />
                <rect x="4" y="5" width="16" height="16" rx="2" />
                <path d="M16 3v4M8 3v4M4 11h16M8 15h2v2H8z" /></svg>
            <span class="mt-2">{{event.start_date}}</span>
        </span>

        {% if event.start_time %}
        <span class="flex flex-col items-center group-hover:text-white transition-all duration-100 ease-in">
            <svg class="" width="24" height="24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none" />
                <circle cx="12" cy="13" r="7" />
                <path d="M12 10v3h2M7 4L4.25 6M17 4l2.75 2" /></svg>
            <span class="mt-2">{{event.start_time}}</span>
        </span>
        {% endif %}

        <!-- <a class="flex flex-col items-center group-hover:text-white transition-all duration-100 ease-in" href="https://www.google.com/maps?q={{event.location}}" target="_blank" rel="noreferrer">
            <img src="{% webpack_static 'img/icons/map-pin.svg' %}" aria-hidden="true">
            <span class="mt-2">See Map</span>
        </a> -->

        <span class="flex flex-col items-center group-hover:text-white transition-all duration-100 ease-in">
            {% if event.rsvp %}
            <svg class="" width="24" height="24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none" />
                <path d="M9 12l2 2 4-4" />
                <path d="M12 3a12 12 0 008.5 3A12 12 0 0112 21 12 12 0 013.5 6 12 12 0 0012 3" /></svg>
            {% else %}
            <svg class="" width="24" height="24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none" />
                <path d="M12 3a12 12 0 008.5 3A12 12 0 0112 21 12 12 0 013.5 6 12 12 0 0012 3M10 10l4 4m0-4l-4 4" /></svg>
            {% endif %}
            <span class="mt-2">RSVP</span>
        </span>

        <span class="flex flex-col items-center group-hover:text-white transition-all duration-100 ease-in">
            <svg class="" width="24" height="24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none" />
                <rect x="7" y="9" width="14" height="10" rx="2" />
                <circle cx="14" cy="14" r="2" />
                <path d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2" /></svg>
            {% if event.cost %}
            <span class="mt-2">${{event.cost}}</span>
            {% else %}
            <span class="mt-2">free</span>
            {% endif %}
        </span>
    </div>

    {% comment %} <a class="list__button" href="{{ event.get_absolute_url }}-{{event.id}}" class="list__link">
        View Event Details
    </a> {% endcomment %}

</a>
