{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block template_css %}
<link href="{% webpack_static 'libs/trix.css' %}" rel="stylesheet">
<style>
    .trix-button-group--file-tools {
        display: none !important;
    }
</style>
{% endblock template_css %}

{% block template_scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
{% endblock template_scripts %}

{% block main %}

<section class="my-10">
    <div class="mb-4">
        <h2 class="text-4xl text-white text-shadow">Create New Event</h2>
        <p class="text-lg">Not all fields are required but the more information you provide the better you event will look.</p>
    </div>
    {% include 'components/errors.html' %}
    <div>
        <form class="form" action="{% url 'events_create' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% include 'events/_form.html' %}
            {% include 'components/submit_btn.html' with value='Create Event' class="btn btn-lg btn-block btn--form-submit" %}
        </form>
    </div>
</section>

{% endblock main %}

{% block template_js %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<script>
	mapboxgl.accessToken = "{{mapbox}}";
    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        types: 'address,postcode',
        countries: 'us',
    }); 
    geocoder.addTo('#geocoder');
    const geocoder_input = document.querySelector("#geocoder").querySelector("input");
    geocoder_input.setAttribute("id", "id_location");
    geocoder_input.setAttribute("name", "location");
    geocoder.on("result", (e) => {
        let city = document.getElementById("id_city");
        let state = document.getElementById("id_state");
        let zipcode = document.getElementById("id_zipcode");
        city.value = e.result.context.filter(item => item.id.split(".")[0] == "place")[0].text;
        state.value = e.result.context.filter(item => item.id.split(".")[0] == "region")[0].text;
        zipcode.value = e.result.context.filter(item => item.id.split(".")[0] == "postcode")[0].text;
    });

    document.getElementById("id_name").focus();
    document.getElementById("id_phone_contact").addEventListener("input", (e) => formatPhone(e));
</script>
<script src="{% webpack_static 'libs/trix.js' %}"></script>
{% endblock template_js %}
