{% extends 'dashboard.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Edit {{ event.name }} Details | Frum Philly{% endblock meta_title %}
{% block meta_description %}Edit the details of your event on Frum Philly.{% endblock meta_description %}

{% block template_css %}
<link href="{% webpack_static 'libs/trix.css' %}" rel="stylesheet">
<style>
    .trix-button-group--file-tools {
        display: none !important;
    }
</style>
{% endblock template_css %}

{% block template_scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
{% endblock template_scripts %}

{% block main %}
<section class="my-8" x-data="{ 'showEventImageModal': false }" @keydown.escape="showEventImageModal = false">
    <div class="text-white text-shadow my-4">
        <h2 class="text-3xl">Edit Event</h2>
        <p class="text-xl">Edit the details of your event.</p>
    </div>
    {% include 'components/errors.html' %}
    <form class="form" action="{% url 'events_edit' event.slug event.id %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% include 'events/_form.html' %}
        <div class="flex items-center mt-4">
            {% include 'components/submit_btn.html' with value='Save Changes' class="btn btn-md btn-block btn--form-submit" %}
            <a class="inline-block w-1/3 py-2 px-4 ml-4 rounded-md text-center text-red-400 hover:bg-gray-300 hover:shadow-md" href="{% url 'user_events' %}">Cancel</a>
        </div>
    </form>
    {% if event.image %}
    <!-- Modal -->
    <div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="showEventImageModal" :class="{ 'fixed inset-0 z-50 flex items-center justify-center h-screen': showEventImageModal }">
        <div class="bg-white shadow-2xl m-4 sm:m-8 max-w-3xl" x-show="showEventImageModal" @click.away="showEventImageModal = false">
            <div class="relative">
                <button type="button" class="absolute top-0 right-0 mt-4 mr-4" @click="showEventImageModal = false"><svg class="" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#fff" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M0 0h24v24H0z" stroke="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M10 10l4 4m0-4l-4 4" /></svg></button>
                <img id="event_image_modal_preview" class="w-full mr-2 mx-auto object-cover" src="{{ event.image.url }}" alt="">
            </div>
        </div>
    </div>
    {% endif %}
</section>


{% endblock main %}

{% block template_js %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<script>
    document.getElementById("id_name").focus();
    document.getElementById("id_phone_contact").addEventListener("input", (e) => formatPhone(e));

    // toggle location field visibility based on if virtual event
    let virtual_event_check = document.querySelector("#id_is_virtual_event");
    if (virtual_event_check.checked) {
        document.querySelector("#location-wrapper").classList.add("hidden");
    }
    virtual_event_check.addEventListener("change", (e) => {
        document.querySelector("#location-wrapper").classList.toggle("hidden");
    });

	mapboxgl.accessToken = "{{mapbox}}";
    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        types: 'address,postcode',
        countries: 'us',
    }); 
    geocoder.addTo('#geocoder');
    const geocoder_input = document.querySelector("#geocoder").querySelector("input");
    geocoder_input.setAttribute("id", "id_location");
    geocoder_input.setAttribute("name", "location");
    geocoder.on("result", (e) => {
        let city = document.getElementById("id_city");
        let state = document.getElementById("id_state");
        let zipcode = document.getElementById("id_zipcode");
        city.value = e.result.context.filter(item => item.id.split(".")[0] == "place")[0].text;
        state.value = e.result.context.filter(item => item.id.split(".")[0] == "region")[0].text;
        zipcode.value = e.result.context.filter(item => item.id.split(".")[0] == "postcode")[0].text;
    });

    // on image select change preview src and text
    let image_field = document.querySelector('#id_image');
    image_field.addEventListener("change", (e) => {
        const reader = new FileReader();
        let cur_img = document.querySelector("#event_image_preview");
        cur_img.src = URL.createObjectURL(event.target.files[0]);
        document.querySelector("#event_image_modal_preview").src = URL.createObjectURL(event.target.files[0]);
        cur_img.onload = function() {
            URL.revokeObjectURL(cur_img.src) // free memory
        }
        document.querySelector("#event_image_preview_link").innerText = "View Selected Image";
        document.querySelector("#event_image_preview_title").innerText = "Selected Image";
    });
</script>
<script src="{% webpack_static 'libs/trix.js' %}"></script>
{% endblock template_js %}
