{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}

{% block meta_title %}Events | Frum Philly{% endblock meta_title %}
{% block meta_description %}Upcoming & Past events on Frum Philly{% endblock meta_description %}

{% block pagebanner %}
<section class="flex items-center justify-center h-half-screen curved-bottom" style="background-image: url({% webpack_static 'img/illustrations/schedule.svg' %});background-size: 30rem;background-repeat:no-repeat;background-position:center;">
    <h1 class="text-6xl font-bold text-white text-shadow">Events</h1>
</section>
{% endblock pagebanner %}

{% block main %}
<section class="container">
    <div class="justify-between my-6 md:flex">
        <div class="md:w-3/4 md:mr-6">
            
            {% if events or filtered_cities or filtered_categories %}
                {% include 'events/_filter.html' %}
            {% endif %}
                
            {% for event in events %}
            <div class="grid grid-cols-1 gap-3 my-4">
                {% include 'events/_list.html' %}
            </div>
            {% empty %}
            <div class="px-4 pt-4 pb-6 mt-4 mb-6 text-center bg-white rounded-md shadow-md sm:pt-8 md:mb-0">
                <p class="mb-8 text-2xl">There are no events yet.</p>
                <a class="block text-center btn btn-md lg:inline" href="{% url 'events_create' %}">Create an Event</a>
            </div>
            {% endfor %}

            {% if events.has_other_pages %}
            <div class="flex items-center my-10">
                {% if events.has_previous %}
                <a class="btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 btn btn-md" href="?{% param_replace page=events.previous_page_number %}">&lt; Prev</a>
                {% else %}
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md" >&lt; Prev</a>
                {% endif %}

                <span class="flex-grow text-center">
                    {{ events.number }} of {{ events.paginator.num_pages }}
                </span>

                {% if events.has_next %}
                <a class="mr-2 btn btn-md" href="?{% param_replace page=events.next_page_number %}">Next &gt;</a>
                <a class="btn btn-md" href="?{% param_replace page=events.paginator.num_pages %}">Last &raquo;</a>
                {% else %}
                <a class="mr-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md">Next &gt;</a>
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=events.paginator.num_pages %}">Last &raquo;</a>
                {% endif %}
            </div>
            {% endif %}

            <div class="mt-4"><a href="{% url 'advertising' %}"><img src="{{ads.banner_ad.image.url}}" alt="Advertise on Frum Philly"></a></div>
        </div>

        <div class="flex flex-col justify-between mt-4 rightbar md:w-1/4 md:mt-0 sm:flex-row md:flex-col sm:flex-wrap md:justify-start">
            {% for ad in ads.sidebar_ads %}
                {% include 'components/sidebar_ads.html' %}
            {% endfor %}
        </div>
    </div>

    {% include 'components/events_cta.html' %}
    <section class="cta">
    </section>
</section>
{% endblock main %}
