{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block meta_title %}Events | Frum Philly{% endblock meta_title %}
{% block meta_description %}Upcoming & Past events on Frum Philly{% endblock meta_description %}

{% block pagebanner %}
<section class="page-banner curved-bottom" style="background-image: url({% webpack_static 'img/illustrations/schedule.svg' %});background-size: 30rem;">
    <h1 class="title">Events</h1>
</section>
{% endblock pagebanner %}

{% block main %}
<div class="container">
    <section class="flex flex--space-between flex--align-start">
        <div class="list list--m0">
            {% include 'events/_filter.html' %}
            {% for event in events %}
            {% include 'events/_list.html' %}
            {% empty %}
            <p>No events yet!</p>
            {% endfor %}

            {% if events.has_other_pages %}
            <div class="pagination">
                {% if events.has_previous %}
                <a class="pagination__link" href="?page=1">&laquo; First</a>
                <a class="pagination__link" href="?page={{ events.previous_page_number }}">&lt; Prev</a>
                {% endif %}

                <span class="current">
                    Page {{ events.number }} of {{ events.paginator.num_pages }}
                </span>

                {% if events.has_next %}
                <a class="pagination__link" href="?page={{ events.next_page_number }}">Next &gt;</a>
                <a class="pagination__link" href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="rightbar">
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
            <div class="rightbar__box" style="border: 1px solid grey;height: 15rem;width: 20rem;display: flex;justify-content: center;align-items: center;padding: 1rem;margin-bottom: 1rem;">
                Example. Your Ad Here.
            </div>
        </div>
    </section>

    <section class="cta">
        {% include 'components/events_cta.html' %}
    </section>
</div>
{% endblock main %}
