{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}

{% block meta_title %}Listings | Frum Philly{% endblock meta_title %}
{% block meta_description %}Frum Philly Business Listings{% endblock meta_description %}

{% block pagebanner %}
<section class="relative flex items-center justify-center h-half-screen curved-bottom" style="background-image: url({% webpack_static 'img/images/forum-bg.jpg' %});background-size: cover;background-repeat:no-repeat;background-position:center;">
    <div class="absolute top-0 left-0 w-full h-full bg-purple-600 bg-opacity-25"></div>
    <div class="z-20 text-center text-white text-shadow">
        <h1 class="text-6xl font-bold md:text-9xl">Frum Philly Forum</h1>
        <p class="mt-4 text-2xl md:text-6xl">For the neighborhood yentas!</p>
    </div>
</section>
{% endblock pagebanner %}


{% block main %}

<section class="container">
    <div class="justify-between my-6 md:flex">
        <div class="md:w-3/4 md:mr-6">
            <h2>Categories</h2>

            {% for cat in categories %}
                {{cat.title}}
            {% endfor %}

            {% include 'components/banner_ads.html' %}
        </div>

        {% include 'components/sidebar_ads.html' %}
    </div>
</section>

{% endblock main %}
