
{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}
{% load humanize %}

{% block meta_title %}{{thread.title}} | {{category.title}} | Frum Philly Forum{% endblock meta_title %}
{% block meta_description %}{{thread}}. On the Frum Philly Forum.{% endblock meta_description %}

{% block opengraph %}
<meta property="og:title" content="{{thread.title}} | {{category.title}} | Frum Philly Forum"/>
<meta property="og:description" content="{{thread}}. On the Frum Philly Forum."/>
<meta property="og:image" content="">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://frumphilly.com/forum/{{category.slug}}/{{thread.slug}}/"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="http://frumphilly.com/forum/{{category.slug}}/{{thread.slug}}/"/>
<meta name="twitter:title" content="{{thread.title}} | {{category.title}} | Frum Philly Forum"/>
<meta name="twitter:description" content="{{thread.title}}. On the Frum Philly Forum."/>
<meta name="twitter:image" content=""/>
{% endblock opengraph %}

{% block pagebanner %}
<section class="py-8 bg-purple-900">
    <div class="container flex items-center justify-between">
        <div class="container text-white">
            <a href="{% url 'forum' %}" class="underline hover:text-pink-600">Forum</a> /
            <a href="/forum/{{category.slug}}" class="underline hover:text-pink-600">{{category.title}}</a>
            <h2 class="mt-6 text-3xl font-bold">{{thread}}</h2>
        </div>
        <a class="px-6 py-2 text-lg font-semibold text-center text-white bg-gray-600 rounded-md shadow-md min-w-max hover:bg-gray-500" href="">Start a Conversation</a>
    </div>
</section>
{% endblock pagebanner %}


{% block main %}

<section class="container">
    <div class="justify-between my-6 md:flex">
        <div class="md:w-3/4 md:mr-6">
            {% for post in posts %}
            <div class="flex p-4 mb-4 bg-white rounded-md shadow-md">
                <div class="flex items-start">
                    <div>
                        <img src="{{post.author.avatar.url}}" alt="" class="w-12 h-12 rounded-full">
                    </div>
                    <div class="ml-2 text-gray-500">
                        <div>{{post.author.first_name}} {{post.author.last_name}}</div>
                        <div>{{post.author.email}}</div>
                    </div>
                </div>

                <div class="ml-12">
                    <div class="text-gray-500">
                        {{post.created_at|naturaltime}}
                    </div>
                    <div class="mt-6">
                        {{post.content}}
                    </div>
                </div>

            </div>
            {% empty %}
                <div class="relative flex flex-col items-center justify-center col-span-2 p-4 my-16">
                    <div class="absolute flex flex-col items-center justify-center">
                        <div class="text-4xl leading-snug text-center text-gray-200 uppercase text-shadow">
                            <div>There are no post in</div>
                            <div class="font-bold">{{thread.title}}</div>
                            <a class="block py-4 text-lg font-semibold text-center btn btn-md lg:inline" href="">Start a Conversation</a>
                        </div>
                    </div>
                    <img class="" width="400" src="{% webpack_static 'img/illustrations/empty.svg' %}" alt="">
                </div>
            {% endfor %}

            {% if posts.has_other_pages %}
            <div class="flex items-center my-10">
                {% if posts.has_previous %}
                <a class="btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 btn btn-md" href="?{% param_replace page=posts.previous_page_number %}">&lt; Prev</a>
                {% else %}
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md" >&lt; Prev</a>
                {% endif %}
    
                <span class="flex-grow text-center">
                    {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
    
                {% if posts.has_next %}
                <a class="mr-2 btn btn-md" href="?{% param_replace page=posts.next_page_number %}">Next &gt;</a>
                <a class="btn btn-md" href="?{% param_replace page=posts.paginator.num_pages %}">Last &raquo;</a>
                {% else %}
                <a class="mr-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md">Next &gt;</a>
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=posts.paginator.num_pages %}">Last &raquo;</a>
                {% endif %}
            </div>
            {% endif %}

            {% include 'components/banner_ads.html' %}
        </div>

        {% include 'components/sidebar_ads.html' %}
    </div>
</section>

{% endblock main %}
