{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% load my_tags %}
{% load humanize %}

{% block meta_title %}{{category.title}} | Frum Philly Forum{% endblock meta_title %}
{% block meta_description %}Read the latest threads in {{category.title}} on the Frum Philly Forum.{% endblock meta_description %}

{% block opengraph %}
<meta property="og:title" content="{{category.title}} | Frum Philly Forum"/>
<meta property="og:description" content="Read the latest threads in {{category.title}} on the Frum Philly Forum."/>
<meta property="og:image" content="">
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://frumphilly.com/forum/{{category.slug}}/"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="http://frumphilly.com/forum/{{category.slug}}/"/>
<meta name="twitter:title" content="{{category.title}} | Frum Philly Forum"/>
<meta name="twitter:description" content="Read the latest threads in {{category.title}} on the Frum Philly Forum."/>
<meta name="twitter:image" content=""/>
{% endblock opengraph %}

{% block pagebanner %}
<section class="py-8 bg-purple-900">
    <div class="container flex items-center justify-between">
        <div class="container text-white">
            <a href="{% url 'forum' %}" class="underline hover:text-pink-600">Forum</a> / {{category.title}}
            <h2 class="mt-6 text-3xl font-bold">{{category.title}}</h2>
        </div>
        <a class="px-6 py-2 text-lg font-semibold text-center text-white bg-gray-600 rounded-md shadow-md min-w-max hover:bg-gray-500" href="{% url 'forum_thread_create' category=category.slug %}">Start a Conversation</a>
    </div>
</section>
{% endblock pagebanner %}

{% block main %}

<section class="container">
    <div class="justify-between my-6 md:flex">
        <div class="md:w-3/4 md:mr-6">

            {% for thread in threads %}
            <a href="{{thread.get_absolute_url}}" class="flex justify-between p-4 mb-4 text-gray-700 bg-white rounded-md shadow-md hover:bg-purple-900 group-hover:text-white hover:text-white">
                    <div class="">
                        <div class="text-xl font-semibold">{{thread.title}}</div>
                        <div class="text-sm">{{thread.get_post_count}} Posts</div>
                        <div class="text-sm capitalize">Created {{thread.created_at|naturaltime}}</div>
                    </div>
                    <div class="flex items-center ml-2">
                        {% if thread.owner.avatar %}
                        <img class="object-cover w-10 h-10 rounded-full" src="{{ thread.owner.avatar.url }}" alt="User Avatar" width="10" height="10">
                        {% elif thread.owner.socialaccount_set.all.0.get_avatar_url %}
                        <img class="object-cover w-10 h-10 rounded-full" src="{{ thread.owner.socialaccount_set.all.0.get_avatar_url }}" alt="User Avatar" width="10" height="10">
                        {% else %}
                        <img class="object-cover w-10 h-10 rounded-full" src="{% webpack_static 'img/images/blank_avatar.jpg' %}" alt="User Avatar" width="10" height="10">
                        {% endif %}
                        <div class="ml-4">
                            <div>{{thread.owner.first_name}} {{thread.owner.last_name}}</div>
                            <div>{{thread.owner.email}}</div>
                        </div>
                    </div>
            </a>
            {% empty %}
                <div class="relative flex flex-col items-center justify-center col-span-2 p-4 my-16">
                    <div class="absolute flex flex-col items-center justify-center">
                        <div class="text-4xl leading-snug text-center text-gray-200 uppercase text-shadow">
                            <div>There are no threads in</div>
                            <div class="font-bold">{{category.title}}</div>
                            <a class="block py-4 text-lg font-semibold text-center btn btn-md lg:inline" href="{% url 'forum_thread_create' category=category.slug %}">Start a Conversation</a>
                        </div>
                    </div>
                    <img class="" width="400" src="{% webpack_static 'img/illustrations/empty.svg' %}" alt="">
                </div>
            {% endfor %}

            {% if threads.has_other_pages %}
            <div class="flex items-center my-10">
                {% if threads.has_previous %}
                <a class="btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 btn btn-md" href="?{% param_replace page=threads.previous_page_number %}">&lt; Prev</a>
                {% else %}
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=1 %}">&laquo; First</a>
                <a class="ml-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md" >&lt; Prev</a>
                {% endif %}

                <span class="flex-grow text-center">
                    {{ threads.number }} of {{ threads.paginator.num_pages }}
                </span>

                {% if threads.has_next %}
                <a class="mr-2 btn btn-md" href="?{% param_replace page=threads.next_page_number %}">Next &gt;</a>
                <a class="btn btn-md" href="?{% param_replace page=threads.paginator.num_pages %}">Last &raquo;</a>
                {% else %}
                <a class="mr-2 opacity-50 cursor-not-allowed pointer-events-none btn btn-md">Next &gt;</a>
                <a class="opacity-50 cursor-not-allowed pointer-events-none btn btn-md" href="?{% param_replace page=threads.paginator.num_pages %}">Last &raquo;</a>
                {% endif %}
            </div>
            {% endif %}

            {% include 'components/banner_ads.html' %}
        </div>

        {% include 'components/sidebar_ads.html' %}
    </div>
</section>

{% endblock main %}
